$color__primary: #0084ff;
$color__primary-light: #55b6ed;
$color__primary-dark: #1360c8;

$second__color: rgba(0,0,0,0.6);

/* Autres couleurs */
// $red: #e05353;
// $yellow: #e9ad4f;
// $green: #47e58e;
// $pink: #e454a2;
// $purple: #734fe9;
// $grey: #d6d6d6;

$red_background: #ffc9ca;
$red: #ff4246;

$yellow_background: #fff1bd;
$yellow: #ffbd41;

$green_background: #dfffd8;
$green: #35c54e;

$blue_background: #d5eaff;

$purple_background: #e6d2ff;
$purple: #7c41c7;
