.tm-project {
	margin-bottom: 2em;
}

.tm-project .project-header {
	display: flex;
	padding-bottom: 0.2em;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	margin-bottom: 0.5em;

	.header-title {
		font-weight: 700;
	}
	.header-time {
		margin-left: auto;
	}
	.header-tag {
		margin-left: 0.4em;
	}
}

.tm-project .tm-task {
	display: block;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.1);
	padding: 0.4em;
	border-left: 6px solid $color__primary;
	margin-top: -1px;
	transition: all 0.2s ease-out;
	text-decoration: none;

	&:hover {
		background: rgba(0,0,0,0.05);
	}

	.task-header {
		display: block;
		font-size: 12px;
		color: rgba(0,0,0,0.5);

		> * {
			margin-right: 0.3em;
		}
	}
	.task-content {
		color: rgba(0,0,0,0.8);
	}
}

.tm-task-archived {
	margin-top: 0.5em;

	.task-archived {
		border-left: 6px solid $green;
	}
}
