/* Autres couleurs */
.tm-open-ticket .wpeo-form {
  display: flex;
  background: #fff;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .tm-open-ticket .wpeo-form .form-element {
    padding: 0.2em; }
  .tm-open-ticket .wpeo-form input[type="text"],
  .tm-open-ticket .wpeo-form input[type="email"],
  .tm-open-ticket .wpeo-form input[type="url"],
  .tm-open-ticket .wpeo-form input[type="password"],
  .tm-open-ticket .wpeo-form input[type="search"],
  .tm-open-ticket .wpeo-form input[type="number"],
  .tm-open-ticket .wpeo-form input[type="tel"],
  .tm-open-ticket .wpeo-form input[type="range"],
  .tm-open-ticket .wpeo-form input[type="date"],
  .tm-open-ticket .wpeo-form input[type="month"],
  .tm-open-ticket .wpeo-form input[type="week"],
  .tm-open-ticket .wpeo-form input[type="time"],
  .tm-open-ticket .wpeo-form input[type="datetime"],
  .tm-open-ticket .wpeo-form input[type="datetime-local"],
  .tm-open-ticket .wpeo-form input[type="color"],
  .tm-open-ticket .wpeo-form select,
  .tm-open-ticket .wpeo-form textarea {
    border: 1px solid #ccc;
    height: 55px; }
  .tm-open-ticket .wpeo-form .wpeo-button {
    margin: auto;
    white-space: nowrap; }

.tm-project {
  margin-bottom: 2em; }

.tm-project .project-header {
  display: flex;
  padding-bottom: 0.2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5em; }
  .tm-project .project-header .header-title {
    font-weight: 700; }
  .tm-project .project-header .header-time {
    margin-left: auto; }
  .tm-project .project-header .header-tag {
    margin-left: 0.4em; }

.tm-project .tm-task {
  display: block;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.4em;
  border-left: 6px solid #0084ff;
  margin-top: -1px;
  transition: all 0.2s ease-out; }
  .tm-project .tm-task:hover {
    background: rgba(0, 0, 0, 0.05); }
  .tm-project .tm-task .task-header {
    display: block;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5); }
    .tm-project .tm-task .task-header > * {
      margin-right: 0.3em; }
  .tm-project .tm-task .task-content {
    color: rgba(0, 0, 0, 0.8); }

.tm-task-archived {
  margin-top: 0.5em; }
  .tm-task-archived .task-archived {
    border-left: 6px solid #2aecb3; }

.tm-task-single .task-header {
  padding-bottom: 0.2em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .tm-task-single .task-header .header-nav-1 {
    display: flex; }
    .tm-task-single .task-header .header-nav-1 .project-title {
      font-weight: 700; }
    .tm-task-single .task-header .header-nav-1 .project-time {
      margin-left: auto; }
    .tm-task-single .task-header .header-nav-1 .project-tag {
      margin-left: 0.4em; }

.tm-task-single .tm-comment {
  background: #fff;
  padding: 1em;
  border-radius: 6px;
  margin-bottom: 0.8em;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .tm-task-single .tm-comment .comment-footer {
    display: flex;
    margin-top: 0.5em;
    font-size: 14px; }
    .tm-task-single .tm-comment .comment-footer .comment-author {
      margin: auto 0; }
      .tm-task-single .tm-comment .comment-footer .comment-author img {
        float: left;
        border-radius: 50%;
        margin-right: 0.4em; }
      .tm-task-single .tm-comment .comment-footer .comment-author .author-name {
        line-height: 30px; }
    .tm-task-single .tm-comment .comment-footer .wpeo-button {
      margin-left: auto; }
    .tm-task-single .tm-comment .comment-footer .comment-time {
      line-height: 30px;
      margin-left: 1em; }
