/* ----------------------------- */
/* ==reset */
/* ----------------------------- */
@font-face {
  font-family: 'kalamregular';
  src: url('../font/kalam-regular-webfont.eot');
  src: url('../font/kalam-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/kalam-regular-webfont.woff2') format('woff2'), url('../font/kalam-regular-webfont.woff') format('woff'), url('../font/kalam-regular-webfont.ttf') format('truetype'), url('../font/kalam-regular-webfont.svg#kalamregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.wpeo-project-wrap,
.wpeo-task-account,
.wpeo-task-account-window,
.wpeo-window-ask-task-container,
.wpeo-project-timeline {
  /* base font-size corresponds to 10px and is adapted to rem unit */
  /* font-sizing for content */
  /* preserve vertical-rythm, thanks to http://soqr.fr/vertical-rhythm/ */
  /* alternate font-sizing */
  /* soft reset */
  /* avoid top margins on first content element */
  /* avoid margins on nested elements */
  /* HTML5 tags */
  /* max values */
  /* you shall not pass */
  /* pictures */
  /* scripts */
  /* skip-links */
}
.wpeo-project-wrap p,
.wpeo-task-account p,
.wpeo-task-account-window p,
.wpeo-window-ask-task-container p,
.wpeo-project-timeline p,
.wpeo-project-wrap blockquote,
.wpeo-task-account blockquote,
.wpeo-task-account-window blockquote,
.wpeo-window-ask-task-container blockquote,
.wpeo-project-timeline blockquote,
.wpeo-project-wrap pre,
.wpeo-task-account pre,
.wpeo-task-account-window pre,
.wpeo-window-ask-task-container pre,
.wpeo-project-timeline pre,
.wpeo-project-wrap td,
.wpeo-task-account td,
.wpeo-task-account-window td,
.wpeo-window-ask-task-container td,
.wpeo-project-timeline td,
.wpeo-project-wrap th,
.wpeo-task-account th,
.wpeo-task-account-window th,
.wpeo-window-ask-task-container th,
.wpeo-project-timeline th,
.wpeo-project-wrap label,
.wpeo-task-account label,
.wpeo-task-account-window label,
.wpeo-window-ask-task-container label,
.wpeo-project-timeline label,
.wpeo-project-wrap textarea,
.wpeo-task-account textarea,
.wpeo-task-account-window textarea,
.wpeo-window-ask-task-container textarea,
.wpeo-project-timeline textarea,
.wpeo-project-wrap caption,
.wpeo-task-account caption,
.wpeo-task-account-window caption,
.wpeo-window-ask-task-container caption,
.wpeo-project-timeline caption,
.wpeo-project-wrap details,
.wpeo-task-account details,
.wpeo-task-account-window details,
.wpeo-window-ask-task-container details,
.wpeo-project-timeline details,
.wpeo-project-wrap figure,
.wpeo-task-account figure,
.wpeo-task-account-window figure,
.wpeo-window-ask-task-container figure,
.wpeo-project-timeline figure,
.wpeo-project-wrap hgroup,
.wpeo-task-account hgroup,
.wpeo-task-account-window hgroup,
.wpeo-window-ask-task-container hgroup,
.wpeo-project-timeline hgroup {
  font-size: 1em;
  /* equiv 14px */
  line-height: 1.5;
  margin: 1.5em 0 0;
}
.wpeo-project-wrap h1,
.wpeo-task-account h1,
.wpeo-task-account-window h1,
.wpeo-window-ask-task-container h1,
.wpeo-project-timeline h1,
.wpeo-project-wrap .h1-like,
.wpeo-task-account .h1-like,
.wpeo-task-account-window .h1-like,
.wpeo-window-ask-task-container .h1-like,
.wpeo-project-timeline .h1-like {
  font-size: 1.8571em;
  /* equiv 26px */
  font-weight: normal;
  line-height: 1.6154em;
  margin: .8077em 0 0 0;
}
.wpeo-project-wrap h2,
.wpeo-task-account h2,
.wpeo-task-account-window h2,
.wpeo-window-ask-task-container h2,
.wpeo-project-timeline h2,
.wpeo-project-wrap .h2-like,
.wpeo-task-account .h2-like,
.wpeo-task-account-window .h2-like,
.wpeo-window-ask-task-container .h2-like,
.wpeo-project-timeline .h2-like {
  font-size: 1.7143em;
  /* equiv 24px */
  font-weight: normal;
  line-height: 1.75em;
  margin: .875em 0 0 0;
}
.wpeo-project-wrap h3,
.wpeo-task-account h3,
.wpeo-task-account-window h3,
.wpeo-window-ask-task-container h3,
.wpeo-project-timeline h3,
.wpeo-project-wrap .h3-like,
.wpeo-task-account .h3-like,
.wpeo-task-account-window .h3-like,
.wpeo-window-ask-task-container .h3-like,
.wpeo-project-timeline .h3-like {
  font-size: 1.5714em;
  /* equiv 22px */
  font-weight: normal;
  line-height: 1.909em;
  margin: .9545em 0 0 0;
}
.wpeo-project-wrap h4,
.wpeo-task-account h4,
.wpeo-task-account-window h4,
.wpeo-window-ask-task-container h4,
.wpeo-project-timeline h4,
.wpeo-project-wrap .h4-like,
.wpeo-task-account .h4-like,
.wpeo-task-account-window .h4-like,
.wpeo-window-ask-task-container .h4-like,
.wpeo-project-timeline .h4-like {
  font-size: 1.4286em;
  /* equiv 20px */
  font-weight: normal;
  line-height: 1.05em;
  margin: 1.05em 0 0 0;
}
.wpeo-project-wrap h5,
.wpeo-task-account h5,
.wpeo-task-account-window h5,
.wpeo-window-ask-task-container h5,
.wpeo-project-timeline h5,
.wpeo-project-wrap .h5-like,
.wpeo-task-account .h5-like,
.wpeo-task-account-window .h5-like,
.wpeo-window-ask-task-container .h5-like,
.wpeo-project-timeline .h5-like {
  font-size: 1.2857em;
  /* equiv 18px */
  font-weight: normal;
  line-height: 1.1667em;
  margin: 1.1667em 0 0 0;
}
.wpeo-project-wrap h6,
.wpeo-task-account h6,
.wpeo-task-account-window h6,
.wpeo-window-ask-task-container h6,
.wpeo-project-timeline h6,
.wpeo-project-wrap .h6-like,
.wpeo-task-account .h6-like,
.wpeo-task-account-window .h6-like,
.wpeo-window-ask-task-container .h6-like,
.wpeo-project-timeline .h6-like {
  font-size: 1.1429em;
  /* equiv 16px */
  font-weight: normal;
  line-height: 1.3125em;
  margin: 1.3125em 0 0 0;
}
.wpeo-project-wrap .smaller,
.wpeo-task-account .smaller,
.wpeo-task-account-window .smaller,
.wpeo-window-ask-task-container .smaller,
.wpeo-project-timeline .smaller {
  font-size: .7143em;
  /* equiv 10px */
  line-height: 2.1em;
}
.wpeo-project-wrap .small,
.wpeo-task-account .small,
.wpeo-task-account-window .small,
.wpeo-window-ask-task-container .small,
.wpeo-project-timeline .small {
  font-size: .8571em;
  /* equiv 12px */
  line-height: 1.75em;
}
.wpeo-project-wrap .big,
.wpeo-task-account .big,
.wpeo-task-account-window .big,
.wpeo-window-ask-task-container .big,
.wpeo-project-timeline .big {
  font-size: 1.1429em;
  /* equiv 16px */
  line-height: 1.3125em;
}
.wpeo-project-wrap .bigger,
.wpeo-task-account .bigger,
.wpeo-task-account-window .bigger,
.wpeo-window-ask-task-container .bigger,
.wpeo-project-timeline .bigger {
  font-size: 1.2857em;
  /* equiv 18px */
  line-height: 1.1667em;
}
.wpeo-project-wrap .biggest,
.wpeo-task-account .biggest,
.wpeo-task-account-window .biggest,
.wpeo-window-ask-task-container .biggest,
.wpeo-project-timeline .biggest {
  font-size: 1.4286em;
  /* equiv 20px */
  line-height: 1.05em;
}
.wpeo-project-wrap html,
.wpeo-task-account html,
.wpeo-task-account-window html,
.wpeo-window-ask-task-container html,
.wpeo-project-timeline html,
.wpeo-project-wrap body,
.wpeo-task-account body,
.wpeo-task-account-window body,
.wpeo-window-ask-task-container body,
.wpeo-project-timeline body,
.wpeo-project-wrap textarea,
.wpeo-task-account textarea,
.wpeo-task-account-window textarea,
.wpeo-window-ask-task-container textarea,
.wpeo-project-timeline textarea,
.wpeo-project-wrap figure,
.wpeo-task-account figure,
.wpeo-task-account-window figure,
.wpeo-window-ask-task-container figure,
.wpeo-project-timeline figure,
.wpeo-project-wrap label,
.wpeo-task-account label,
.wpeo-task-account-window label,
.wpeo-window-ask-task-container label,
.wpeo-project-timeline label {
  margin: 0;
  padding: 0;
}
.wpeo-project-wrap ul,
.wpeo-task-account ul,
.wpeo-task-account-window ul,
.wpeo-window-ask-task-container ul,
.wpeo-project-timeline ul,
.wpeo-project-wrap ol,
.wpeo-task-account ol,
.wpeo-task-account-window ol,
.wpeo-window-ask-task-container ol,
.wpeo-project-timeline ol {
  padding: 0;
}
.wpeo-project-wrap code,
.wpeo-task-account code,
.wpeo-task-account-window code,
.wpeo-window-ask-task-container code,
.wpeo-project-timeline code,
.wpeo-project-wrap pre,
.wpeo-task-account pre,
.wpeo-task-account-window pre,
.wpeo-window-ask-task-container pre,
.wpeo-project-timeline pre,
.wpeo-project-wrap samp,
.wpeo-task-account samp,
.wpeo-task-account-window samp,
.wpeo-window-ask-task-container samp,
.wpeo-project-timeline samp {
  white-space: pre-wrap;
  font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
}
.wpeo-project-wrap code,
.wpeo-task-account code,
.wpeo-task-account-window code,
.wpeo-window-ask-task-container code,
.wpeo-project-timeline code {
  line-height: 1em;
}
.wpeo-project-wrap table,
.wpeo-task-account table,
.wpeo-task-account-window table,
.wpeo-window-ask-task-container table,
.wpeo-project-timeline table {
  margin-bottom: 1.5em;
}
.wpeo-project-wrap p:first-child,
.wpeo-task-account p:first-child,
.wpeo-task-account-window p:first-child,
.wpeo-window-ask-task-container p:first-child,
.wpeo-project-timeline p:first-child,
.wpeo-project-wrap ul:first-child,
.wpeo-task-account ul:first-child,
.wpeo-task-account-window ul:first-child,
.wpeo-window-ask-task-container ul:first-child,
.wpeo-project-timeline ul:first-child,
.wpeo-project-wrap ol:first-child,
.wpeo-task-account ol:first-child,
.wpeo-task-account-window ol:first-child,
.wpeo-window-ask-task-container ol:first-child,
.wpeo-project-timeline ol:first-child,
.wpeo-project-wrap dl:first-child,
.wpeo-task-account dl:first-child,
.wpeo-task-account-window dl:first-child,
.wpeo-window-ask-task-container dl:first-child,
.wpeo-project-timeline dl:first-child,
.wpeo-project-wrap blockquote:first-child,
.wpeo-task-account blockquote:first-child,
.wpeo-task-account-window blockquote:first-child,
.wpeo-window-ask-task-container blockquote:first-child,
.wpeo-project-timeline blockquote:first-child,
.wpeo-project-wrap pre:first-child,
.wpeo-task-account pre:first-child,
.wpeo-task-account-window pre:first-child,
.wpeo-window-ask-task-container pre:first-child,
.wpeo-project-timeline pre:first-child,
.wpeo-project-wrap h1:first-child,
.wpeo-task-account h1:first-child,
.wpeo-task-account-window h1:first-child,
.wpeo-window-ask-task-container h1:first-child,
.wpeo-project-timeline h1:first-child,
.wpeo-project-wrap h2:first-child,
.wpeo-task-account h2:first-child,
.wpeo-task-account-window h2:first-child,
.wpeo-window-ask-task-container h2:first-child,
.wpeo-project-timeline h2:first-child,
.wpeo-project-wrap h3:first-child,
.wpeo-task-account h3:first-child,
.wpeo-task-account-window h3:first-child,
.wpeo-window-ask-task-container h3:first-child,
.wpeo-project-timeline h3:first-child,
.wpeo-project-wrap h4:first-child,
.wpeo-task-account h4:first-child,
.wpeo-task-account-window h4:first-child,
.wpeo-window-ask-task-container h4:first-child,
.wpeo-project-timeline h4:first-child,
.wpeo-project-wrap h5:first-child,
.wpeo-task-account h5:first-child,
.wpeo-task-account-window h5:first-child,
.wpeo-window-ask-task-container h5:first-child,
.wpeo-project-timeline h5:first-child,
.wpeo-project-wrap h6:first-child,
.wpeo-task-account h6:first-child,
.wpeo-task-account-window h6:first-child,
.wpeo-window-ask-task-container h6:first-child,
.wpeo-project-timeline h6:first-child {
  margin-top: 0;
}
.wpeo-project-wrap li p,
.wpeo-task-account li p,
.wpeo-task-account-window li p,
.wpeo-window-ask-task-container li p,
.wpeo-project-timeline li p,
.wpeo-project-wrap li ul,
.wpeo-task-account li ul,
.wpeo-task-account-window li ul,
.wpeo-window-ask-task-container li ul,
.wpeo-project-timeline li ul,
.wpeo-project-wrap li ol,
.wpeo-task-account li ol,
.wpeo-task-account-window li ol,
.wpeo-window-ask-task-container li ol,
.wpeo-project-timeline li ol {
  margin-top: 0;
  margin-bottom: 0;
}
.wpeo-project-wrap article,
.wpeo-task-account article,
.wpeo-task-account-window article,
.wpeo-window-ask-task-container article,
.wpeo-project-timeline article,
.wpeo-project-wrap aside,
.wpeo-task-account aside,
.wpeo-task-account-window aside,
.wpeo-window-ask-task-container aside,
.wpeo-project-timeline aside,
.wpeo-project-wrap details,
.wpeo-task-account details,
.wpeo-task-account-window details,
.wpeo-window-ask-task-container details,
.wpeo-project-timeline details,
.wpeo-project-wrap figcaption,
.wpeo-task-account figcaption,
.wpeo-task-account-window figcaption,
.wpeo-window-ask-task-container figcaption,
.wpeo-project-timeline figcaption,
.wpeo-project-wrap figure,
.wpeo-task-account figure,
.wpeo-task-account-window figure,
.wpeo-window-ask-task-container figure,
.wpeo-project-timeline figure,
.wpeo-project-wrap footer,
.wpeo-task-account footer,
.wpeo-task-account-window footer,
.wpeo-window-ask-task-container footer,
.wpeo-project-timeline footer,
.wpeo-project-wrap header,
.wpeo-task-account header,
.wpeo-task-account-window header,
.wpeo-window-ask-task-container header,
.wpeo-project-timeline header,
.wpeo-project-wrap hgroup,
.wpeo-task-account hgroup,
.wpeo-task-account-window hgroup,
.wpeo-window-ask-task-container hgroup,
.wpeo-project-timeline hgroup,
.wpeo-project-wrap nav,
.wpeo-task-account nav,
.wpeo-task-account-window nav,
.wpeo-window-ask-task-container nav,
.wpeo-project-timeline nav,
.wpeo-project-wrap section,
.wpeo-task-account section,
.wpeo-task-account-window section,
.wpeo-window-ask-task-container section,
.wpeo-project-timeline section {
  display: block;
}
.wpeo-project-wrap img,
.wpeo-task-account img,
.wpeo-task-account-window img,
.wpeo-window-ask-task-container img,
.wpeo-project-timeline img,
.wpeo-project-wrap table,
.wpeo-task-account table,
.wpeo-task-account-window table,
.wpeo-window-ask-task-container table,
.wpeo-project-timeline table,
.wpeo-project-wrap td,
.wpeo-task-account td,
.wpeo-task-account-window td,
.wpeo-window-ask-task-container td,
.wpeo-project-timeline td,
.wpeo-project-wrap blockquote,
.wpeo-task-account blockquote,
.wpeo-task-account-window blockquote,
.wpeo-window-ask-task-container blockquote,
.wpeo-project-timeline blockquote,
.wpeo-project-wrap code,
.wpeo-task-account code,
.wpeo-task-account-window code,
.wpeo-window-ask-task-container code,
.wpeo-project-timeline code,
.wpeo-project-wrap pre,
.wpeo-task-account pre,
.wpeo-task-account-window pre,
.wpeo-window-ask-task-container pre,
.wpeo-project-timeline pre,
.wpeo-project-wrap textarea,
.wpeo-task-account textarea,
.wpeo-task-account-window textarea,
.wpeo-window-ask-task-container textarea,
.wpeo-project-timeline textarea,
.wpeo-project-wrap input,
.wpeo-task-account input,
.wpeo-task-account-window input,
.wpeo-window-ask-task-container input,
.wpeo-project-timeline input,
.wpeo-project-wrap video,
.wpeo-task-account video,
.wpeo-task-account-window video,
.wpeo-window-ask-task-container video,
.wpeo-project-timeline video {
  max-width: 100%;
}
.wpeo-project-wrap div,
.wpeo-task-account div,
.wpeo-task-account-window div,
.wpeo-window-ask-task-container div,
.wpeo-project-timeline div,
.wpeo-project-wrap textarea,
.wpeo-task-account textarea,
.wpeo-task-account-window textarea,
.wpeo-window-ask-task-container textarea,
.wpeo-project-timeline textarea,
.wpeo-project-wrap table,
.wpeo-task-account table,
.wpeo-task-account-window table,
.wpeo-window-ask-task-container table,
.wpeo-project-timeline table,
.wpeo-project-wrap td,
.wpeo-task-account td,
.wpeo-task-account-window td,
.wpeo-window-ask-task-container td,
.wpeo-project-timeline td,
.wpeo-project-wrap th,
.wpeo-task-account th,
.wpeo-task-account-window th,
.wpeo-window-ask-task-container th,
.wpeo-project-timeline th,
.wpeo-project-wrap code,
.wpeo-task-account code,
.wpeo-task-account-window code,
.wpeo-window-ask-task-container code,
.wpeo-project-timeline code,
.wpeo-project-wrap pre,
.wpeo-task-account pre,
.wpeo-task-account-window pre,
.wpeo-window-ask-task-container pre,
.wpeo-project-timeline pre,
.wpeo-project-wrap samp,
.wpeo-task-account samp,
.wpeo-task-account-window samp,
.wpeo-window-ask-task-container samp,
.wpeo-project-timeline samp {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
.wpeo-project-wrap img,
.wpeo-task-account img,
.wpeo-task-account-window img,
.wpeo-window-ask-task-container img,
.wpeo-project-timeline img {
  width: auto;
  height: auto;
  vertical-align: middle;
}
.wpeo-project-wrap a img,
.wpeo-task-account a img,
.wpeo-task-account-window a img,
.wpeo-window-ask-task-container a img,
.wpeo-project-timeline a img {
  border: 0;
}
.wpeo-project-wrap body > script,
.wpeo-task-account body > script,
.wpeo-task-account-window body > script,
.wpeo-window-ask-task-container body > script,
.wpeo-project-timeline body > script {
  display: none !important;
}
.wpeo-project-wrap .skip-links,
.wpeo-task-account .skip-links,
.wpeo-task-account-window .skip-links,
.wpeo-window-ask-task-container .skip-links,
.wpeo-project-timeline .skip-links {
  position: absolute;
}
.wpeo-project-wrap .skip-links a,
.wpeo-task-account .skip-links a,
.wpeo-task-account-window .skip-links a,
.wpeo-window-ask-task-container .skip-links a,
.wpeo-project-timeline .skip-links a {
  position: absolute;
  left: -9999px;
  padding: 0.5em;
  background: #000;
  color: #fff;
  text-decoration: none;
}
.wpeo-project-wrap .skip-links a:focus,
.wpeo-task-account .skip-links a:focus,
.wpeo-task-account-window .skip-links a:focus,
.wpeo-window-ask-task-container .skip-links a:focus,
.wpeo-project-timeline .skip-links a:focus {
  position: static;
}
.wpeo-project-wrap li,
.wpeo-task-account li,
.wpeo-task-account-window li,
.wpeo-window-ask-task-container li,
.wpeo-project-timeline li,
.wpeo-project-wrap ul,
.wpeo-task-account ul,
.wpeo-task-account-window ul,
.wpeo-window-ask-task-container ul,
.wpeo-project-timeline ul {
  margin: 0;
}
.wpeo-project-wrap *,
.wpeo-task-account *,
.wpeo-task-account-window *,
.wpeo-window-ask-task-container *,
.wpeo-project-timeline * {
  box-sizing: border-box;
}
