.suggest {
	pointer-events: all;
	position: absolute;

	&::before {
		display: none;
	}

	li.focus {
		background: rgba(0,0,0,.1);
	}
}

.test {
	position: absolute;
	top: 15px;
}

.point-container .point-content {
	position: relative;
}

#tm-indicator-notes .hndle {
	border-bottom: 0;
}

#tm-indicator-notes .hndle span {
	display: none;
}