/*!
	PROJECT : Task Manager
	Created by Eoxia
*/

@import "mixins/mixins-master";
@import "variable/variable";

.tm-wrap {
  box-sizing: border-box;
  padding-right: 20px;

  @media ( max-width: $media__small ) {
    padding-right: 0;
  }

	&::after {
		display: block;
		content: "";
		clear: both;
	}

	/*--------------------------------------------------------------
	# Normalize
	--------------------------------------------------------------*/
	@import "module/normalize";

	/*--------------------------------------------------------------
	# Font
	--------------------------------------------------------------*/
	@import "font/font";

	/*--------------------------------------------------------------
	# Modules
	--------------------------------------------------------------*/
	@import "module/module";

	/*--------------------------------------------------------------
	# Elements
	--------------------------------------------------------------*/
	@import "element/element";

	@import "experimental";

}

@import "element/notification";
@import "element/export";
@import "element/user/avatar";
@import "element/shortcut/shortcut";


/*--------------------------------------------------------------
# Modules externes du Framework
--------------------------------------------------------------*/
@import "external/external.scss";
