[submodule "core/external/wpeo_log"]
	path = core/external/wpeo_log
	url = https://github.com/Eoxia/wpeo_log.git
[submodule "core/external/wpeo_model"]
	path = core/external/wpeo_model
	url = https://github.com/eoxia/wpeo_model
[submodule "core/external/wpeo_util"]
	path = core/external/wpeo_util
	url = https://github.com/eoxia/wpeo_util
[submodule "core/external/wpeo_assets"]
	path = core/external/wpeo_assets
	url = https://github.com/Eoxia/wpeo_assets
