.wpeo-no-display {
	display: none;
}
.wpeo-header-bar > ul {
	width: 100%;
	display: block;
	background-color: #fff;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
	min-height: 40px;

	&::after {
		display: block;
		content: '';
		clear: both;
	}
	> li {
		display: block;
		padding: 10px 20px;
		color: rgba(0,0,0,0.5);
		border-bottom: 2px solid #fff;
		transition: all 0.2s ease-out;
		float: left;
		height: 40px;

		&:hover, &.wpeo-button:hover {
			cursor: pointer;
		}
	}
	> li.active {
		border-bottom: 2px solid $main-color;
	}
	> li.wpeo-general-search {
		float: right;
		padding: 0;

		.general-search {
			padding: 6px 20px;
		}

		label {
			background: #fff;
			border: 1px solid rgba(0,0,0,0.1);
			border-radius: 10px;
			padding: 6px 8px;
		}
		input {
			border: 0;
			color: rgba(0,0,0,0.6);
			padding: 4px 0;
		}
		.dashicons-search {
			color: rgba(0,0,0,0.2);
			line-height: 2em;
			font-size: 18px;
		}
		.open-search-filter {
			transition: 0.2s ease-out;
			&:hover {
				color: rgba(0,0,0,0.8);
			}
		}

	}
}

.wpeo-header-search {
	background: #404A53;
	padding: 10px;
	transition: all 0.2s ease-in-out;
	pointer-events: none;

	&.active {
		opacity: 1;
		z-index: 999;
		height: auto;
		pointer-events: all;
	}
	.user-search, .wpshop-search {
		float: left;
	}
	.user-search {
		.chosen-choices {
			border: 0;
			box-shadow: none;
		}
	}
	.wpshop-search {
		margin-left: 10px;
		background: #fff;
		input[type="text"] {
			width: 300px;
			border: 0;
		}
		.dashicons {
			color: rgba(0,0,0,0.4);
			text-decoration: none;
		}
	}
	.wpeo-follower-search {
		display: flex;
		flex-wrap: wrap;
		> * {
			margin: 5px;
		}
		.wpeo-follower-title {
			color: #fff;
			text-transform: uppercase;
			font-size: 14px;
		}
		select {
			width: 180px;
		}
	}
	.tag-search {
		clear: both;
		padding-top: 10px;
		.wpeo-tag-title {
			color: #fff;
			text-transform: uppercase;
			font-size: 14px;
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			> * {
				margin: 5px 0;
			}
			.wpeo-tag-search {
				background: #adadad;
				color: #fff;
				padding: 8px 16px;
				margin-left: 10px;
				transition: all 0.2s ease-out;
				&:hover {
					background: #939393;
					cursor: pointer;
				}
				&.active {
					background: $main-color;
					&:hover {
						background: #2e7dd5;
					}
				}
			}
			.wpeo-new-tag-search {
				margin-left: 10px;
				.wpeo-new-tag-search-btn {
					color: $main-color;
					margin-left: 10px;
					&:hover {
						cursor: pointer;
						color: $main-color-light;
					}
					&:active {
						margin-bottom: -1px;
					}
				}
			}
		}
	}
	.search-button {
		background: $main-color;
		color: #fff;
		display: inline-block;
		padding: 10px 14px;
		margin-top: 10px;
		&:hover {
			cursor: pointer;
			background: $main-color-light;
		}
	}
	&:after {
		display: block;
		content: '';
		clear: both;
	}

}
