/** Barre de recherche */
.tm-dashboard-surheader .wpeo-form {
	position: relative;

	.wpeo-dropdown {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		.dropdown-content {
			width: 100%;
			top: 50px;
		}
		.dropdown-toggle {
			position: absolute;
			right: 1em;
			top: 10px;
			width: auto;
			height: auto;

			background: $color__primary;
			padding: 0.4em 0.6em;
			border-radius: 6px;

			> [data-icon] {
				position: static;
				transform: none;
			}
			.button-icon~span {
				margin-left: 4px;
			}
		}
	}

	input, input:hover {
		border: 0;
	}

	.form-element.header-searchbar {
		.form-field, [class*=form-field-icon] {
			background: rgba(255,255,255,0.3) !important;
			color: #fff !important;
		}
		.form-field::placeholder {
			color: #fff !important;
		}
		&:hover .form-field, &:hover [class*=form-field-icon], &:focus .form-field, &:focus [class*=form-field-icon] {
			background: rgba(255,255,255,0.4) !important;
		}
	}

	/** Dropdown */
	.dropdown-content {
		&::after {
			display: block;
			content: '';
			clear: both;
		}

		.wpeo-tag-title {
			display: block;
			font-size: 12px;
			text-transform: uppercase;
			font-weight: 900;
			margin: .6em 0;
			color: rgba(0,0,0,.8);
		}
		.wpeo-tag-search {
			font-size: 14px;
			padding: 0.4em 0.6em;
			color: rgba(0,0,0,0.5);
			border: 0;
			margin: 0.2em;
			border-radius: 5px;
			background: rgba(0,0,0,0.1);
			display: inline-block;
			@include transition();

			&:hover {
				background: rgba(0,0,0,0.2);
				cursor: pointer;
			}

			&.active {
				background: $color__primary;
				color: #fff;
			}
		}

		.wpeo-button {
			float: right;
		}
	}
}
