/** Table Comments */
.wpeo-table.table-flex.table-comments {
	width: 100%;

	.table-row:not(.table-header) .table-cell {
		background: rgba(0,0,0,0.1);
	}
	.table-column {
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}
}
