.points {
	.point[data-point-state="completed"] {
		div.wpeo-point-new-contenteditable {
			text-decoration: line-through;
		}
		background-color: lightgray !important;
		background: repeating-linear-gradient(
		  45deg,
		  lightgray,
		  lightgray 10px,
		  #DDD 10px,
		  #DDD 20px
		) !important;
	}
}
