.wpeo-task-point-use-toggle {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	margin: 24px 0 16px;
	text-align: center;
	p {
		display: inline-block;
		padding: 0 20px;
		position: relative;
		top: -13px;
		transition: all 0.2s ease-out 0s;
		background: #fff;
		&:hover {
			cursor: pointer;
		}
	}
	.wpeo-point-toggle-arrow {
		background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
		border-radius: 50%;
		color: #fff;
		font-size: 14px;
		margin-right: 4px;
		padding: 4px 0;
	}
	.wpeo-point-toggle-a {
		color: #000;
		font-weight: bold;
		text-decoration: none;
	}
	.points {
		text-align: left;
	}
}
