$red_background: #ffc9ca;
$red: #ff4246;

$yellow_background: #fff1bd;
$yellow: #ffbd41;

$green_background: #dfffd8;
$green: #35c54e;

$blue_background: #d5eaff;

$purple_background: #e6d2ff;
$purple: #7c41c7;

.list-task {

	// CHANGE COLOR
	.task-header-action .task-color {
		.white { background: #fff; border: 1px solid rgba(0,0,0,0.2); }
		.red { background: $red_background; border: 1px solid $red; }
		.yellow { background: $yellow_background; border: 1px solid $yellow; }
		.green { background: $green_background; border: 1px solid $green; }
		.blue { background: $blue_background; border: 1px solid $color__primary; }
		.purple { background: $purple_background; border: 1px solid $purple; }
		.color-element > * {
			transition: all 0.2s ease-out;
			&:hover {
				border: 1px solid rgba(0,0,0,0.6);
			}
		}
	}

	// Original
	.wpeo-project-task.white {
		.wpeo-project-task-container, .points .point {
			background: #fff;
		}
		.wpeo-tag-wrap li.wpeo-tag-tag-selected, .wpeo-tag-wrap li.wpeo-tag-edit-tag-btn, .wpeo-main-user li:last-child a {
			background: $color__primary;
		}
		.wpeo-main-user li:last-child a:hover {
			background: lighten($color__primary, 10%);
		}
		.wpeo-point-new-btn, textarea:focus, textarea.active, .wpeo-task-point-completed input[type=checkbox]:checked:before, .wpeo-tag-add-tag {
			color: $color__primary;
		}
		.wpeo-point-new-btn:hover {
			color: darken($color__primary, 20%);
		}
	}

	// Red
	.wpeo-project-task.red {
		.wpeo-project-task-container, .points .point {
			background: $red_background;
		}
		.wpeo-tag-wrap li.wpeo-tag-tag-selected, .wpeo-tag-wrap li.wpeo-tag-edit-tag-btn, .wpeo-main-user li:last-child a {
			background: $red;
		}
		.wpeo-main-user li:last-child a:hover {
			background: lighten($red, 10%);
		}
		.wpeo-point-new-btn, textarea:focus, textarea.active, .wpeo-task-point-completed input[type=checkbox]:checked:before, .wpeo-tag-add-tag {
			color: $red;
		}
		.wpeo-point-new-btn:hover {
			color: darken($red, 20%);
		}
	}

	// Yellow
	.wpeo-project-task.yellow {
		.wpeo-project-task-container, .points .point {
			background: $yellow_background;
		}
		.wpeo-tag-wrap li.wpeo-tag-tag-selected, .wpeo-tag-wrap li.wpeo-tag-edit-tag-btn, .wpeo-main-user li:last-child a {
			background: $yellow;
		}
		.wpeo-main-user li:last-child a:hover {
			background: lighten($yellow, 10%);
		}
		.wpeo-point-new-btn, textarea:focus, textarea.active, .wpeo-task-point-completed input[type=checkbox]:checked:before, .wpeo-tag-add-tag {
			color: $yellow;
		}
		.wpeo-point-new-btn:hover {
			color: darken($yellow, 20%);
		}
	}

	// green
	.wpeo-project-task.green {
		.wpeo-project-task-container, .points .point {
			background: $green_background;
		}
		.wpeo-tag-wrap li.wpeo-tag-tag-selected, .wpeo-tag-wrap li.wpeo-tag-edit-tag-btn, .wpeo-main-user li:last-child a {
			background: $green;
		}
		.wpeo-main-user li:last-child a:hover {
			background: lighten($green, 10%);
		}
		.wpeo-point-new-btn, textarea:focus, textarea.active, .wpeo-task-point-completed input[type=checkbox]:checked:before, .wpeo-tag-add-tag {
			color: $green;
		}
		.wpeo-point-new-btn:hover {
			color: darken($green, 20%);
		}
	}

	// blue
	.wpeo-project-task.blue {
		.wpeo-project-task-container, .points .point {
			background: $blue_background;
		}
		.wpeo-tag-wrap li.wpeo-tag-tag-selected, .wpeo-tag-wrap li.wpeo-tag-edit-tag-btn, .wpeo-main-user li:last-child a {
			background: $color__primary;
		}
		.wpeo-main-user li:last-child a:hover {
			background: lighten($color__primary, 10%);
		}
		.wpeo-point-new-btn, textarea:focus, textarea.active, .wpeo-task-point-completed input[type=checkbox]:checked:before, .wpeo-tag-add-tag {
			color: $color__primary;
		}
		.wpeo-point-new-btn:hover {
			color: darken($color__primary, 20%);
		}
	}

	// purple
	.wpeo-project-task.purple {
		.wpeo-project-task-container, .points .point {
			background: $purple_background;
		}
		.wpeo-tag-wrap li.wpeo-tag-tag-selected, .wpeo-tag-wrap li.wpeo-tag-edit-tag-btn, .wpeo-main-user li:last-child a {
			background: $purple;
		}
		.wpeo-main-user li:last-child a:hover {
			background: lighten($purple, 10%);
		}
		.wpeo-point-new-btn, textarea:focus, textarea.active, .wpeo-task-point-completed input[type=checkbox]:checked:before, .wpeo-tag-add-tag {
			color: $purple;
		}
		.wpeo-point-new-btn:hover {
			color: darken($purple, 20%);
		}
	}

}
