*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

.tm-dashboard-wrap {
	max-width: 1280px;
	width: 100%;
	margin: auto;
	margin-top: 130px;
	display: flex;
	flex-wrap: nowrap;

	.tm-dashboard-primary {
		width: 75%;
		flex-grow: 1;
	}
	.tm-dashboard-secondary {
		min-width: 25%;
		width: 25%;
	}
}
