*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

#top-header {
	.nav-bottom {
		margin: 0;
	}
}

body.eo-custom-page .content-wrap {
	padding: 0;

	.tm-wrap {
		padding: 0;
	}
	.tm-main-container {
		padding: 1em;
	}
}

.list-task {
	overflow-y: hidden;
	overflow-x: auto;
}

.tm-dashboard-wrap {
	width: 100%;
	margin: auto;
	display: flex;
	flex-wrap: nowrap;

	@media ( max-width: $media__large ) {
		flex-wrap: wrap;
	}

	@media ( max-width: $media__medium ) {
		padding: 0.6em;
	}

	.tm-dashboard-primary {
		width: 75%;
		flex-grow: 1;

		@media ( max-width: $media__large ) {
			width: 100%;
			padding-right: 0;
		}
	}
	.tm-dashboard-secondary {
		padding-top: 10px;
		min-width: 25%;
		width: 25%;
		padding-left: 10px;

		@media ( max-width: $media__large ) {
			width: 100%;
		}
	}
}
