/*--------------------------------------------------------------
## Fonticon
--------------------------------------------------------------*/

// @import "fontawesome/fontawesome";
// @import "fontawesome/fa-brands";
// @import "fontawesome/fa-light";
// @import "fontawesome/fa-regular";
// @import "fontawesome/fa-solid";
