/*@font-face {
    font-family: 'kalamregular';
    src: url('../font/kalam-regular-webfont.eot');
    src: url('../font/kalam-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/kalam-regular-webfont.woff2') format('woff2'),
         url('../font/kalam-regular-webfont.woff') format('woff'),
         url('../font/kalam-regular-webfont.ttf') format('truetype'),
         url('../font/kalam-regular-webfont.svg#kalamregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
* {
	font-family: "Open Sans",sans-serif;
}

.wpeo-project-wrap .active {
	color: #389af6;
}

a:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
}
.wpeo-project-wrap * {
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0;
  	padding: 0;
}
.wpeo-project-wrap .dashicons:hover {
	cursor: pointer;
}

.wpeo-project-wrap .wpeo-project-task.archive {
	display: none;
}

/* Header bar */
/*.wpeo-project-wrap .wpeo-header-bar {
	width: 100%;
	display: block;
	background-color: #fff;
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
	-o-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
	filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0,0,0,0.2), Direction=134, Strength=5);	
}

.wpeo-project-wrap .wpeo-header-bar > ul { 
	min-height: 40px;
}
.wpeo-project-wrap .wpeo-header-bar > ul::after { 
	display: table;
	content: '';
	clear: both;
}
.wpeo-project-wrap .wpeo-header-bar > ul > li {
	display: block;
	padding: 10px 20px;
	color: rgba(0,0,0,0.5);
	border-bottom: 2px solid #fff;
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	float: left;

}.wpeo-project-wrap .wpeo-header-bar > ul > li:nth-of-type(3), .wpeo-project-wrap .wpeo-header-bar > ul > li:nth-of-type(4) {
	float: right;
	border-bottom: 0;
	padding: 10px;
}
.wpeo-project-wrap .wpeo-header-bar > ul > li:nth-of-type(3) {
	background: #389af6;
	color: #fff;
}
.wpeo-project-wrap .wpeo-header-bar > ul > li:nth-of-type(3):hover {
	background: #55b6ed;
}
.wpeo-project-wrap .wpeo-header-bar > ul > li:nth-of-type(4) {
	padding: 4px 20px;
}
.wpeo-project-wrap .wpeo-header-bar > ul > li:nth-of-type(4) .chosen-choices {
	border-radius: 12px;
	border: 1px solid rgba(0,0,0,0.2);
	color: rgba(0,0,0,0.2);
	padding: 0 10px;
}
.wpeo-project-wrap .wpeo-header-bar > ul > li:nth-of-type(4) .chosen-choices .dashicons-search {
	padding: 4px 0 0 0;
	margin: 0 8px 0 0;
	float: left;
}
.wpeo-project-wrap .wpeo-header-bar ul li.wpeo-button {
}
.wpeo-project-wrap .wpeo-header-bar ul li.wpeo-button-active {
	border-bottom: 2px solid #389af6;
	color: rgba(0,0,0,.9);
}
.wpeo-project-wrap .wpeo-header-bar ul li:hover {
	cursor: pointer;
}
.wpeo-project-wrap .wpeo-header-bar ul li.wpeo-btn-export-all {
	width: 3%;
	min-width: 3%;
	max-width: 3%;
	background-color: #00a0d2;
	color: white;
	text-align: center;
}

/** Le tableau de board quand on focus une tâche */
/*.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard {
	margin: 10px 0 0 0;
	background-color: #fff;
	float: right;
	height: 74vh;
	width: 50%;
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
	-o-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
	filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0,0,0,0.2), Direction=134, Strength=5);	
	display: none;
	position: relative;
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard header {
	padding: 16px 14px;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard header h2 {
	padding: 0;
	font-family: 'kalamregular';
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard  #wpeo-task-sub-header::after {
	display: table;
	content: '';
	clear: both;
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard  #wpeo-task-sub-header #wpeo-task-owner {
	float: left;
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard  #wpeo-task-sub-header #wpeo-task-action {
	float: right;
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard .wpeo-display-user {
	background: rgba(0,0,0,0.1);
	border-radius: 20px;
	padding: 4px 10px;
	display: inline-block;
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard .wpeo-display-user > * {
	margin: 0 auto;
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard .wpeo-display-user  > img, 
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard .wpeo-display-user  > span.wpeo-avatar-initial {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	float: left;
	background: #fff;
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard .wpeo-display-user  > span.wpeo-avatar-initial {
	text-align: center;
	padding-top: 4px;
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard .wpeo-display-user > span:not(.wpeo-avatar-initial) {
	line-height: 2.4;
	padding-left: 6px;
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard label {
	display: block;	
}
/* Affichage des actions dans les options d'un point */
/*.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard #wpeo-task-action li {
	float: left;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 50%;
	padding: 10px;
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	margin-left: 6px;
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard #wpeo-task-action li:hover {
	border: 1px solid #389af6;
	cursor: pointer;
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard #wpeo-task-action li:hover span,
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard #wpeo-task-action li:hover a {
	color: #389af6;;
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard #wpeo-task-action li a, .wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard #wpeo-task-action li span {
	color: rgba(0,0,0,0.2);
	text-decoration: none;
}
/* Affichage des informations d'un point */
/*.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard #wpeo-task-info,
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard #wpeo-task-option {
	padding: 20px 18px;

}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard #wpeo-task-info {
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard #wpeo-task-info h3,
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard #wpeo-task-option h3 {
	text-transform: uppercase;
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard #wpeo-task-info ul, 
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard #wpeo-task-option form {
	padding: 8px 0 0 20px;
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard #wpeo-task-option form input[type="checkbox"] {
	border-radius: 50%;
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard #wpeo-task-info .dashicons {
	padding: 0;
	margin: 0;
	color: rgba(0,0,0,0.4);
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard #wpeo-task-info li:first-child div {
	display: inline-block;
	padding-right: 10px;
}
/* Affichage du footer de la tache de droite */
/*.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard footer {
	padding: 8px 0 0 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard footer .wpeo-footer-tag {
	border-top: 1px solid rgba(0,0,0,0.2);
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard footer .wpeo-footer-tag,
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard footer .wpeo-main-user {
	padding: 8px 18px;
}

.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard footer .wpeo-footer-tag li {
	display: inline-block;
	background: #2e99d5;
	padding: 8px 12px;
	margin-bottom: 6px;
	color: #fff;
	border-radius: 2px;
	margin-right: 4px;
}
/* Affichage d'un point */
/*.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard  #wpeo-task-sub-header {
	border-bottom: 1px solid rgba(0,0,0,0.2);
	padding: 20px 26px;
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard #wpeo-task-sub-header .wpeo-task-info {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard #wpeo-task-sub-header .wpeo-task-info li:first-child {
	margin: auto 0;
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard #wpeo-task-sub-header .wpeo-task-info li:first-child input[type="checkbox"] {
	border-radius: 50%;
	border: 1px solid rgba(0,0,0,0.4);
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard #wpeo-task-sub-header .wpeo-task-info li:first-child input[type="checkbox"]:hover {
	cursor: auto;
	pointer-events: none;
	text-decoration: none;
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard #wpeo-task-sub-header .wpeo-task-info li:nth-of-type(2) {
	margin: auto 14px auto 8px;
	font-weight: bold;
}
.wpeo-project-wrap .wpeo-project-list-task #wpeo-window-dashboard #wpeo-task-sub-header .wpeo-task-info li:last-child {
	width: 100%;
	font-family: 'kalamregular';
	font-size: 14px;
}



.wpeo-project-wrap .wpeo-project-list-task { 
	margin-top: 20px;	
}

.wpeo-project-wrap .wpeo-task-dashboard-tags li {
	display: inline-block;
}
.wpeo-project-wrap .wpeo-task-archived {
	display: none;
}
.wpeo-project-wrap .wpeo-no-display { display: none; }

/* ---- grid-item ---- */
/*.wpeo-project-wrap .wpeo-project-task {
	padding: 10px;
	width: 50%;
	overflow: hidden;
}

.wpeo-project-wrap .wpeo-project-task-list-additional-buttons {
	position: absolute;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.1);
	display: none;
	margin-left: 10px !important;
	z-index: 9999;
	width: 180px;
	padding: 0;
	right: 10%;
}
.wpeo-project-wrap .wpeo-project-task-list-additional-buttons:hover {
	cursor: pointer;
}
.wpeo-project-wrap .wpeo-project-task-list-additional-buttons li {
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.wpeo-project-wrap .wpeo-project-task-list-additional-buttons li:last-child {
	border-bottom: 0;
}

.wpeo-project-wrap .wpeo-project-task-container {
	background-color: #fff;
	position: relative;
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
	-o-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
	filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0,0,0,0.2), Direction=134, Strength=5);	
}

.wpeo-project-wrap a[disabled="disabled"] {
	pointer-events: none;
	text-decoration: none;
	color: black;
}

.wpeo-project-wrap .wpeo-write-mod, .wpeo-project-wrap .wpeo-task-project-error { color: red; }

.wpeo-project-wrap .wpeo-task-header {
	border-bottom: 1px solid rgba(0,0,0,0.2);
	padding: 18px 14px;
	display: flex;
	display: -webkit-flex;
	flex-direction: raw;
	-webkit-flex-direction: raw;
}
.wpeo-project-wrap .wpeo-task-header::after {
	display: table;
	content: '';
	clear: both;
}
.wpeo-project-wrap .wpeo-task-title {
	width: 70%;
	padding: 0 0 0 8px;
}
.wpeo-project-wrap .wpeo-task-id {
	width: 6%;
}
.wpeo-project-wrap input[type="text"] {
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-bottom: 4px;
	box-shadow: none;
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
}

.wpeo-project-wrap input:hover,
.wpeo-project-wrap textarea:hover {
	border-bottom: 1px solid rgba(0,0,0,0.6);
}

.wpeo-project-wrap .wpeo-task-title input {
	width: 100%;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	font-weight: 900;
}
.wpeo-project-wrap .wpeo-task-time {
	width: 26%;
	display: flex;
	display: -webkit-flex;
	flex-direction: raw;
	-webkit-flex-direction: raw;
}
.wpeo-project-wrap .wpeo-task-time > * {
	margin: auto;
	padding: 0 4px;
}
.wpeo-project-wrap .wpeo-task-time .dashicons-admin-generic {
	color: rgba(0,0,0,0.3);
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
}
.wpeo-project-wrap .wpeo-task-time .dashicons-admin-generic:hover {
	color: rgba(0,0,0,0.6);
}
.wpeo-project-wrap .wpeo-task-time  .wpeo-task-open-dashboard {
	width: 100%;
	text-align: right;
}
.wpeo-project-wrap .wpeo-task-time .wpeo-project-task-time {
	padding-bottom: 4px;
}
.wpeo-project-wrap .wpeo-task-additional-buttons:hover {
	cursor: pointer;
}
.wpeo-project-wrap .dashicons-clock {
	margin: 0 4px;
}
.wpeo-project-wrap .wpeo-task-time-estimated {
	font-size: 13px;
	width: 100%;
}
.wpeo-project-wrap .wpeo-send-task-to-trash {
	width: 100%;
	text-align: right;
}
.wpeo-project-wrap .wpeo-project-task-time-estimated {
	width: 100%;
}
.wpeo-project-wrap .block-points {
	padding: 20px 14px;
}
.wpeo-project-wrap .block-points .dashicons-menu {
	opacity: 0;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.wpeo-project-wrap .wpeo-task-mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	display: flex;
	display: -webkit-flex;
	z-index: 2000;
}
.wpeo-project-wrap .wpeo-task-mask .dashicons-edit {
	color: #fff;
	font-size: 50px;
	margin: auto;
	display: block;
	width: auto;
	height: auto;
	border: 4px solid #fff;
	padding: 10px;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.wpeo-project-wrap a:hover, .wpeo-project-wrap i:hover {
	cursor: pointer;
}
.wpeo-project-wrap .wpeo-task-mask:hover .dashicons-edit {
	border: 4px solid rgba(255,255,255,0.5);
	color: rgba(255,255,255,0.5);
	padding: 16px;
	cursor: pointer;
}
.wpeo-project-wrap .wpeo-task-mask:hover {
	cursor: pointer;
}

.wpeo-project-wrap .task-marker {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	display: block;
	-webkit-border-radius: 50%;
	border: 4px solid rgba(0,0,0,0.4);
	position: absolute;
	left: -8px;
	top: -8px;
	background: #fff;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	opacity: 0;
}
.wpeo-project-wrap .wpeo-project-task:hover .task-marker {
	opacity: 1;
	cursor: pointer;
}
.wpeo-project-wrap .wpeo-task-selected .task-marker {
	opacity: 1;
}
.wpeo-project-wrap .wpeo-task-settings, .wpeo-project-wrap .wpeo-view-task {
  width: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 40px;
  padding-left: 40px;
  padding-top: 10px;
  color: black;
  text-decoration: none;
}

.wpeo-project-wrap .wpeo-view-task {
	top: 40px;
}

/*
*	FOOTER
*/
/*.wpeo-task-footer .dashicons {
	color: #fff;
	font-size: 14px;
	width: auto !important;
	height: auto !important;
	/*padding: 6px 6px 6px 6px;*/
}
/*.wpeo-project-wrap .wpeo-task-users {
	background: rgba(0,0,0,0.2);
	color: #fff;
	text-align: center;
	position: relative;
}
.wpeo-project-wrap .wpeo-task-users {
	background: #3B3E41;
}
.wpeo-project-wrap .wpeo-task-users li {
	line-height: 0;
}

.wpeo-project-wrap .wpeo-task-users::after {
	display: table;
	content: '';
	clear: both;
}
.wpeo-project-wrap .wpeo-task-users li {
	float: left;
}
.wpeo-project-wrap .wpeo-task-users li:last-child {
	background: rgba(255,255,255,0.2);
	height: 24px;
	width: 24px;
}
.wpeo-project-wrap .wpeo-task-users li:last-child > * {
	padding-top: 6px;
}
.wpeo-project-wrap .wptask-actions a, .wpeo-project-wrap .wptask-actions i {
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.wpeo-project-wrap .wptask-actions a {
	color: #fff;
}
.wpeo-project-wrap .wptask-actions i {
	cursor: pointer;
}
.wpeo-project-wrap .wptask-actions a:hover, .wpeo-project-wrap .wptask-actions i:hover {
	opacity: 0.7;
}
.wpeo-project-wrap .wptask-actions ul li, .wpeo-project-wrap .wpeo-task-users li, .wpeo-project-wrap .wpeo-task-categories li {
	display: inline-block;
}
.wpeo-project-wrap .wptask-actions {
	opacity: 0;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.wpeo-project-wrap .grid-item:hover .wptask-actions {
	opacity: 1;
}

#TB_window .wpeo-task-submit-button {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
	background: rgba(255,255,255,0.5);
	text-align: right;
	width: 100%;
	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
}

.wpeo-project-wrap .wpeo-project-list-task[data-columns]::before {
	content: '3 .column.size-1of3';
}

/* These are the classes that are going to be applied: */
/*.wpeo-project-wrap .wpeo-project-list-task .column { float: left; padding: 10px; }
.wpeo-project-wrap .wpeo-project-task-size { width: 50%; }
.wpeo-project-wrap-custom .wpeo-project-task-size { width: 100%; }
.wpeo-project-wrap-custom .wpeo-project-task { width: 100%; }

/* Loader */
/*.mask-loader {
	background: rgba(0,0,0,0.2);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
}
/*.mask-loader div {
	position: relative;
	top: 50%;
	transform: translate(0, -50% );
	-webkit-transform: translateY(-50%);
}*/
/*.sk-circle {
	top: 50%;
	transform: translate(0, -50% );
	-webkit-transform: translateY(-50%);
	width: 40px;
	height: 40px;
	position: relative;
	margin: auto;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: rgba(0,0,0,0.6);
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}*/