@main-color: #389af6;
@main-color-light: #55b6ed;
@second-color: rgba(0,0,0,0.6);

@-moz-document url-prefix() {
.entry-content {
	.list-task {
		.wpeo-project-task {
			overflow: hidden!important;
			}
		}
	}
}

/* Reset */
.wpeo-project-wrap {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	ul, li {
		list-style-type: none !important;
		list-style: none !important;
	}
}

/* Main container */
.wpeo-project-wrap {
	display: flex;
	flex-direction: row;
	.wpeo-project-task {
		width: 100%;
	}
	.wpeo-window-dashboard {
		min-width: 360px;
	}
	.wpeo-project-task {
		padding: 10px 20px 10px 10px;
	}
	.wpeo-window-dashboard {
		padding-top: 10px;
	}
}

/* Liste des taches */
.wpeo-project-task {
	.task {
		background: #fff;
		box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
		margin-bottom: 20px;
		/*header*/
		header {
			border-bottom: 1px solid rgba(0,0,0,0.2);
			padding: 12px;
			display: flex;
			flex-direction: row;
			h2 {
				font-size: 14px;
				font-weight: 700;
				margin: auto 0;
			}
			.task-time {
				margin: auto 0 auto auto;
				min-width: 90px;
				text-align: right;
			}
			.dashicons {
				line-height: 1.2;
			}
		}
		/*content*/
		.wpeo-task-point {
			padding: 12px;
			li {
				display: flex;
				flex-direction: row;
				padding: 6px 0;
				&:hover {
					cursor: pointer;
					.point-content {
						color: @main-color;
						border-bottom: 1px solid rgba(0,0,0,0.3);
					}
				}
			}
			.point-info {
				min-width: 70px;
				text-align: right;
				margin: auto 0 auto auto;

				.dashicons {
					line-height: 1.2;
				}
			}
			.point-content {
				padding-bottom: 4px;
				transition: all 0.2s ease-out;
				width: 100%;
				border-bottom: 1px solid rgba(0,0,0,0.1);
				&.active {
					color: @main-color;
					border-bottom: 1px solid rgba(0,0,0,0.3);
				}
			}
			.wpeo-task-point-use-toggle {
				text-align: center;
				position: relative;
				border-top: 1px solid rgba(0,0,0,0.2);
				margin-top: 20px;
				padding-bottom: 0;
				&:hover {
					.wpeo-point-toggle-arrow {
						background: @main-color;
					}
				}
				p {
					margin: 0;
					position: relative;
					top: -20px;
					background: #fff;
					left: 50%;
					transform: translateX(-50%);
					padding: 0 10px;
				}
				.wpeo-point-toggle-arrow {
					background: rgba(0,0,0,0.3);
					color: #fff;
					border-radius: 50%;
					font-size: 14px;
					padding: 4px 0;
					margin: 2px 4px 0 0;
					transition: all 0.2s ease-out;
				}
			}
			.completed-point {
				&.hidden  {
					display: none;
				}
			}
		}
	}
}

/* Window */
.wpeo-window-dashboard {
	.wpeo-task-account-window-content {
		width: 360px;
		background: #fff;
		box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
		padding: 10px;
		&.fixe {
			position: fixed;
			top: 0;
		}
	}
	#wpeo-task-form-point-time {
		border: 1px solid rgba(0,0,0,0.1);
		background: rgba(0,0,0,0.05);
		padding: 10px;
		.wpeo-task-form-input > div {
			display: flex;
			flex-direction: row;
			textarea {
				font-size: 14px;
				font-family: 'Open Sans', sans-serif;
				line-height: 1;
				background: #fff;
				width: 100%;
			}
			.wpeo-submit {
				border-radius: 50%;
				background: @main-color;
				width: 22px;
				height: 22px;
				text-align: center;
				line-height: 22px;
				margin: auto;
				padding: 0;
			}
		}
	}
	.wpeo-point-no-comment {
		font-size: 12px;
		font-style: italic;
		color: rgba(0,0,0,0.4);
		line-height: 1.1;
	}
	#wpeo-task-point-history {
		.user {
			border-radius: 50%;
			width: 26px;
			height: 26px;
			background: @main-color;
			color: #fff;
			position: relative;
			transition: all 0.2s ease-out;
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			.wpeo-avatar-initial {
				display: flex;
				height: 100%;
			}
			span {
				color: #fff;
				text-align: center;
				margin: auto;
				display: inline-block;
				width: 100%;
			}
		}
		.wpeo-point-comment {
			padding: 6px 0;
			margin-bottom: 6px;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			&:last-child {
				border-bottom: 0;
			}
			.name, .date {
				font-size: 12px;
				color: rgba(0,0,0,0.6);
			}
			.name {
				&:after {
					content: ',';
				}
			}
			.date {
				line-height: 2;
			}
			.action {
				float: right;
				font-weight: bold;
			}
			.comment {
				clear: both;
				float: none;
			}
			li {
				float: left;
				margin-right: 10px;
				&:nth-of-type(2), &:nth-of-type(3) {
					line-height: 2;
				}
				&:nth-of-type(2) {
					color: @second-color;
					font-size: 13px;
				}
				&:last-child {
				}
			}
		}
	}
}


.wpeo-window-ask-task-container {
  a {
          background: @main-color;
          color: #fff;
          padding: 10px;
          margin: 10px 0;
          font-size: 14px;
          display: inline-block;
          &:hover {
                  color: #fff;
          }
  }
  #wpeo-window-ask-task {
    display: none;
    border: 1px solid rgba(0,0,0,0.1);
	  background: rgba(0,0,0,0.05);
	  padding: 20px;
	  margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: row;
    > * {
      margin: 0 4px;
    }
    textarea {
      width: 100%;
    }
    input {
      margin: 0 !important;
    }
    input[type="text"], textarea {
      height: 40px;
    }
    input[type="text"], textarea, :placeholder-shown, :placeholder-shown, ::-webkit-input-placeholder {
      font-family: 'Kalam', sans-serif;
      font-weight: normal;
    }
    :placeholder-shown, :placeholder-shown, ::-webkit-input-placeholder {
      color: rgba(0,0,0,0.4);
    }
  }
}
