@-moz-document url-prefix() {
  .entry-content .list-task .wpeo-project-task {
    overflow: hidden!important;
  }
}
.wpeo-project-wrap ul,
.wpeo-project-wrap li {
  list-style: none;
}
.wpeo-project-wrap * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.wpeo-project-wrap .hidden {
  display: none;
}
.wpeo-project-wrap .wpeo-project-task {
  width: 100%;
  padding: 10px;
  font-size: 14px;
}
.wpeo-project-wrap .wpeo-project-task .wpeo-project-task-container {
  background: #fff;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.wpeo-project-wrap .wpeo-project-task .wpeo-task-header {
  padding: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.wpeo-project-wrap .wpeo-project-task .wpeo-task-header:after {
  display: block;
  clear: both;
}
.wpeo-project-wrap .wpeo-project-task .wpeo-task-header li {
  margin: auto 0;
}
.wpeo-project-wrap .wpeo-project-task .wpeo-task-header .wpeo-task-id {
  width: 6%;
  font-weight: 800;
}
.wpeo-project-wrap .wpeo-project-task .wpeo-task-header .wpeo-task-title {
  width: 64%;
  padding: 0 0 0 8px;
}
.wpeo-project-wrap .wpeo-project-task .wpeo-task-header .wpeo-task-title h2 {
  font-weight: 300;
  width: 100%;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.wpeo-project-wrap .wpeo-project-task .wpeo-task-header .wpeo-task-elapsed {
  width: 20%;
  position: relative;
  text-align: right;
  margin-left: auto;
}
.wpeo-project-wrap .wpeo-project-task .wpeo-task-header .wpeo-task-elapsed .wpeo-task-open-action {
  padding: 0 6px;
  color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.wpeo-project-wrap .wpeo-project-task .wpeo-task-header .wpeo-task-elapsed .wpeo-task-open-action:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
}
