@import "loader.css";
/* ----------------------------- */
/* ==reset */
/* ----------------------------- */
@font-face {
  font-family: 'kalamregular';
  src: url('../font/kalam-regular-webfont.eot');
  src: url('../font/kalam-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/kalam-regular-webfont.woff2') format('woff2'), url('../font/kalam-regular-webfont.woff') format('woff'), url('../font/kalam-regular-webfont.ttf') format('truetype'), url('../font/kalam-regular-webfont.svg#kalamregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.wpeo-project-wrap,
.wpeo-task-account,
.wpeo-task-account-window,
.wpeo-window-ask-task-container,
.wpeo-project-timeline {
  /* base font-size corresponds to 10px and is adapted to rem unit */
  /* font-sizing for content */
  /* preserve vertical-rythm, thanks to http://soqr.fr/vertical-rhythm/ */
  /* alternate font-sizing */
  /* soft reset */
  /* avoid top margins on first content element */
  /* avoid margins on nested elements */
  /* HTML5 tags */
  /* max values */
  /* you shall not pass */
  /* pictures */
  /* scripts */
  /* skip-links */
}
.wpeo-project-wrap p,
.wpeo-task-account p,
.wpeo-task-account-window p,
.wpeo-window-ask-task-container p,
.wpeo-project-timeline p,
.wpeo-project-wrap blockquote,
.wpeo-task-account blockquote,
.wpeo-task-account-window blockquote,
.wpeo-window-ask-task-container blockquote,
.wpeo-project-timeline blockquote,
.wpeo-project-wrap pre,
.wpeo-task-account pre,
.wpeo-task-account-window pre,
.wpeo-window-ask-task-container pre,
.wpeo-project-timeline pre,
.wpeo-project-wrap td,
.wpeo-task-account td,
.wpeo-task-account-window td,
.wpeo-window-ask-task-container td,
.wpeo-project-timeline td,
.wpeo-project-wrap th,
.wpeo-task-account th,
.wpeo-task-account-window th,
.wpeo-window-ask-task-container th,
.wpeo-project-timeline th,
.wpeo-project-wrap label,
.wpeo-task-account label,
.wpeo-task-account-window label,
.wpeo-window-ask-task-container label,
.wpeo-project-timeline label,
.wpeo-project-wrap textarea,
.wpeo-task-account textarea,
.wpeo-task-account-window textarea,
.wpeo-window-ask-task-container textarea,
.wpeo-project-timeline textarea,
.wpeo-project-wrap caption,
.wpeo-task-account caption,
.wpeo-task-account-window caption,
.wpeo-window-ask-task-container caption,
.wpeo-project-timeline caption,
.wpeo-project-wrap details,
.wpeo-task-account details,
.wpeo-task-account-window details,
.wpeo-window-ask-task-container details,
.wpeo-project-timeline details,
.wpeo-project-wrap figure,
.wpeo-task-account figure,
.wpeo-task-account-window figure,
.wpeo-window-ask-task-container figure,
.wpeo-project-timeline figure,
.wpeo-project-wrap hgroup,
.wpeo-task-account hgroup,
.wpeo-task-account-window hgroup,
.wpeo-window-ask-task-container hgroup,
.wpeo-project-timeline hgroup {
  font-size: 1em;
  /* equiv 14px */
  line-height: 1.5;
  margin: 1.5em 0 0;
}
.wpeo-project-wrap h1,
.wpeo-task-account h1,
.wpeo-task-account-window h1,
.wpeo-window-ask-task-container h1,
.wpeo-project-timeline h1,
.wpeo-project-wrap .h1-like,
.wpeo-task-account .h1-like,
.wpeo-task-account-window .h1-like,
.wpeo-window-ask-task-container .h1-like,
.wpeo-project-timeline .h1-like {
  font-size: 1.8571em;
  /* equiv 26px */
  font-weight: normal;
  line-height: 1.6154em;
  margin: .8077em 0 0 0;
}
.wpeo-project-wrap h2,
.wpeo-task-account h2,
.wpeo-task-account-window h2,
.wpeo-window-ask-task-container h2,
.wpeo-project-timeline h2,
.wpeo-project-wrap .h2-like,
.wpeo-task-account .h2-like,
.wpeo-task-account-window .h2-like,
.wpeo-window-ask-task-container .h2-like,
.wpeo-project-timeline .h2-like {
  font-size: 1.7143em;
  /* equiv 24px */
  font-weight: normal;
  line-height: 1.75em;
  margin: .875em 0 0 0;
}
.wpeo-project-wrap h3,
.wpeo-task-account h3,
.wpeo-task-account-window h3,
.wpeo-window-ask-task-container h3,
.wpeo-project-timeline h3,
.wpeo-project-wrap .h3-like,
.wpeo-task-account .h3-like,
.wpeo-task-account-window .h3-like,
.wpeo-window-ask-task-container .h3-like,
.wpeo-project-timeline .h3-like {
  font-size: 1.5714em;
  /* equiv 22px */
  font-weight: normal;
  line-height: 1.909em;
  margin: .9545em 0 0 0;
}
.wpeo-project-wrap h4,
.wpeo-task-account h4,
.wpeo-task-account-window h4,
.wpeo-window-ask-task-container h4,
.wpeo-project-timeline h4,
.wpeo-project-wrap .h4-like,
.wpeo-task-account .h4-like,
.wpeo-task-account-window .h4-like,
.wpeo-window-ask-task-container .h4-like,
.wpeo-project-timeline .h4-like {
  font-size: 1.4286em;
  /* equiv 20px */
  font-weight: normal;
  line-height: 1.05em;
  margin: 1.05em 0 0 0;
}
.wpeo-project-wrap h5,
.wpeo-task-account h5,
.wpeo-task-account-window h5,
.wpeo-window-ask-task-container h5,
.wpeo-project-timeline h5,
.wpeo-project-wrap .h5-like,
.wpeo-task-account .h5-like,
.wpeo-task-account-window .h5-like,
.wpeo-window-ask-task-container .h5-like,
.wpeo-project-timeline .h5-like {
  font-size: 1.2857em;
  /* equiv 18px */
  font-weight: normal;
  line-height: 1.1667em;
  margin: 1.1667em 0 0 0;
}
.wpeo-project-wrap h6,
.wpeo-task-account h6,
.wpeo-task-account-window h6,
.wpeo-window-ask-task-container h6,
.wpeo-project-timeline h6,
.wpeo-project-wrap .h6-like,
.wpeo-task-account .h6-like,
.wpeo-task-account-window .h6-like,
.wpeo-window-ask-task-container .h6-like,
.wpeo-project-timeline .h6-like {
  font-size: 1.1429em;
  /* equiv 16px */
  font-weight: normal;
  line-height: 1.3125em;
  margin: 1.3125em 0 0 0;
}
.wpeo-project-wrap .smaller,
.wpeo-task-account .smaller,
.wpeo-task-account-window .smaller,
.wpeo-window-ask-task-container .smaller,
.wpeo-project-timeline .smaller {
  font-size: .7143em;
  /* equiv 10px */
  line-height: 2.1em;
}
.wpeo-project-wrap .small,
.wpeo-task-account .small,
.wpeo-task-account-window .small,
.wpeo-window-ask-task-container .small,
.wpeo-project-timeline .small {
  font-size: .8571em;
  /* equiv 12px */
  line-height: 1.75em;
}
.wpeo-project-wrap .big,
.wpeo-task-account .big,
.wpeo-task-account-window .big,
.wpeo-window-ask-task-container .big,
.wpeo-project-timeline .big {
  font-size: 1.1429em;
  /* equiv 16px */
  line-height: 1.3125em;
}
.wpeo-project-wrap .bigger,
.wpeo-task-account .bigger,
.wpeo-task-account-window .bigger,
.wpeo-window-ask-task-container .bigger,
.wpeo-project-timeline .bigger {
  font-size: 1.2857em;
  /* equiv 18px */
  line-height: 1.1667em;
}
.wpeo-project-wrap .biggest,
.wpeo-task-account .biggest,
.wpeo-task-account-window .biggest,
.wpeo-window-ask-task-container .biggest,
.wpeo-project-timeline .biggest {
  font-size: 1.4286em;
  /* equiv 20px */
  line-height: 1.05em;
}
.wpeo-project-wrap html,
.wpeo-task-account html,
.wpeo-task-account-window html,
.wpeo-window-ask-task-container html,
.wpeo-project-timeline html,
.wpeo-project-wrap body,
.wpeo-task-account body,
.wpeo-task-account-window body,
.wpeo-window-ask-task-container body,
.wpeo-project-timeline body,
.wpeo-project-wrap textarea,
.wpeo-task-account textarea,
.wpeo-task-account-window textarea,
.wpeo-window-ask-task-container textarea,
.wpeo-project-timeline textarea,
.wpeo-project-wrap figure,
.wpeo-task-account figure,
.wpeo-task-account-window figure,
.wpeo-window-ask-task-container figure,
.wpeo-project-timeline figure,
.wpeo-project-wrap label,
.wpeo-task-account label,
.wpeo-task-account-window label,
.wpeo-window-ask-task-container label,
.wpeo-project-timeline label {
  margin: 0;
  padding: 0;
}
.wpeo-project-wrap ul,
.wpeo-task-account ul,
.wpeo-task-account-window ul,
.wpeo-window-ask-task-container ul,
.wpeo-project-timeline ul,
.wpeo-project-wrap ol,
.wpeo-task-account ol,
.wpeo-task-account-window ol,
.wpeo-window-ask-task-container ol,
.wpeo-project-timeline ol {
  padding: 0;
}
.wpeo-project-wrap code,
.wpeo-task-account code,
.wpeo-task-account-window code,
.wpeo-window-ask-task-container code,
.wpeo-project-timeline code,
.wpeo-project-wrap pre,
.wpeo-task-account pre,
.wpeo-task-account-window pre,
.wpeo-window-ask-task-container pre,
.wpeo-project-timeline pre,
.wpeo-project-wrap samp,
.wpeo-task-account samp,
.wpeo-task-account-window samp,
.wpeo-window-ask-task-container samp,
.wpeo-project-timeline samp {
  white-space: pre-wrap;
  font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
}
.wpeo-project-wrap code,
.wpeo-task-account code,
.wpeo-task-account-window code,
.wpeo-window-ask-task-container code,
.wpeo-project-timeline code {
  line-height: 1em;
}
.wpeo-project-wrap table,
.wpeo-task-account table,
.wpeo-task-account-window table,
.wpeo-window-ask-task-container table,
.wpeo-project-timeline table {
  margin-bottom: 1.5em;
}
.wpeo-project-wrap p:first-child,
.wpeo-task-account p:first-child,
.wpeo-task-account-window p:first-child,
.wpeo-window-ask-task-container p:first-child,
.wpeo-project-timeline p:first-child,
.wpeo-project-wrap ul:first-child,
.wpeo-task-account ul:first-child,
.wpeo-task-account-window ul:first-child,
.wpeo-window-ask-task-container ul:first-child,
.wpeo-project-timeline ul:first-child,
.wpeo-project-wrap ol:first-child,
.wpeo-task-account ol:first-child,
.wpeo-task-account-window ol:first-child,
.wpeo-window-ask-task-container ol:first-child,
.wpeo-project-timeline ol:first-child,
.wpeo-project-wrap dl:first-child,
.wpeo-task-account dl:first-child,
.wpeo-task-account-window dl:first-child,
.wpeo-window-ask-task-container dl:first-child,
.wpeo-project-timeline dl:first-child,
.wpeo-project-wrap blockquote:first-child,
.wpeo-task-account blockquote:first-child,
.wpeo-task-account-window blockquote:first-child,
.wpeo-window-ask-task-container blockquote:first-child,
.wpeo-project-timeline blockquote:first-child,
.wpeo-project-wrap pre:first-child,
.wpeo-task-account pre:first-child,
.wpeo-task-account-window pre:first-child,
.wpeo-window-ask-task-container pre:first-child,
.wpeo-project-timeline pre:first-child,
.wpeo-project-wrap h1:first-child,
.wpeo-task-account h1:first-child,
.wpeo-task-account-window h1:first-child,
.wpeo-window-ask-task-container h1:first-child,
.wpeo-project-timeline h1:first-child,
.wpeo-project-wrap h2:first-child,
.wpeo-task-account h2:first-child,
.wpeo-task-account-window h2:first-child,
.wpeo-window-ask-task-container h2:first-child,
.wpeo-project-timeline h2:first-child,
.wpeo-project-wrap h3:first-child,
.wpeo-task-account h3:first-child,
.wpeo-task-account-window h3:first-child,
.wpeo-window-ask-task-container h3:first-child,
.wpeo-project-timeline h3:first-child,
.wpeo-project-wrap h4:first-child,
.wpeo-task-account h4:first-child,
.wpeo-task-account-window h4:first-child,
.wpeo-window-ask-task-container h4:first-child,
.wpeo-project-timeline h4:first-child,
.wpeo-project-wrap h5:first-child,
.wpeo-task-account h5:first-child,
.wpeo-task-account-window h5:first-child,
.wpeo-window-ask-task-container h5:first-child,
.wpeo-project-timeline h5:first-child,
.wpeo-project-wrap h6:first-child,
.wpeo-task-account h6:first-child,
.wpeo-task-account-window h6:first-child,
.wpeo-window-ask-task-container h6:first-child,
.wpeo-project-timeline h6:first-child {
  margin-top: 0;
}
.wpeo-project-wrap li p,
.wpeo-task-account li p,
.wpeo-task-account-window li p,
.wpeo-window-ask-task-container li p,
.wpeo-project-timeline li p,
.wpeo-project-wrap li ul,
.wpeo-task-account li ul,
.wpeo-task-account-window li ul,
.wpeo-window-ask-task-container li ul,
.wpeo-project-timeline li ul,
.wpeo-project-wrap li ol,
.wpeo-task-account li ol,
.wpeo-task-account-window li ol,
.wpeo-window-ask-task-container li ol,
.wpeo-project-timeline li ol {
  margin-top: 0;
  margin-bottom: 0;
}
.wpeo-project-wrap article,
.wpeo-task-account article,
.wpeo-task-account-window article,
.wpeo-window-ask-task-container article,
.wpeo-project-timeline article,
.wpeo-project-wrap aside,
.wpeo-task-account aside,
.wpeo-task-account-window aside,
.wpeo-window-ask-task-container aside,
.wpeo-project-timeline aside,
.wpeo-project-wrap details,
.wpeo-task-account details,
.wpeo-task-account-window details,
.wpeo-window-ask-task-container details,
.wpeo-project-timeline details,
.wpeo-project-wrap figcaption,
.wpeo-task-account figcaption,
.wpeo-task-account-window figcaption,
.wpeo-window-ask-task-container figcaption,
.wpeo-project-timeline figcaption,
.wpeo-project-wrap figure,
.wpeo-task-account figure,
.wpeo-task-account-window figure,
.wpeo-window-ask-task-container figure,
.wpeo-project-timeline figure,
.wpeo-project-wrap footer,
.wpeo-task-account footer,
.wpeo-task-account-window footer,
.wpeo-window-ask-task-container footer,
.wpeo-project-timeline footer,
.wpeo-project-wrap header,
.wpeo-task-account header,
.wpeo-task-account-window header,
.wpeo-window-ask-task-container header,
.wpeo-project-timeline header,
.wpeo-project-wrap hgroup,
.wpeo-task-account hgroup,
.wpeo-task-account-window hgroup,
.wpeo-window-ask-task-container hgroup,
.wpeo-project-timeline hgroup,
.wpeo-project-wrap nav,
.wpeo-task-account nav,
.wpeo-task-account-window nav,
.wpeo-window-ask-task-container nav,
.wpeo-project-timeline nav,
.wpeo-project-wrap section,
.wpeo-task-account section,
.wpeo-task-account-window section,
.wpeo-window-ask-task-container section,
.wpeo-project-timeline section {
  display: block;
}
.wpeo-project-wrap img,
.wpeo-task-account img,
.wpeo-task-account-window img,
.wpeo-window-ask-task-container img,
.wpeo-project-timeline img,
.wpeo-project-wrap table,
.wpeo-task-account table,
.wpeo-task-account-window table,
.wpeo-window-ask-task-container table,
.wpeo-project-timeline table,
.wpeo-project-wrap td,
.wpeo-task-account td,
.wpeo-task-account-window td,
.wpeo-window-ask-task-container td,
.wpeo-project-timeline td,
.wpeo-project-wrap blockquote,
.wpeo-task-account blockquote,
.wpeo-task-account-window blockquote,
.wpeo-window-ask-task-container blockquote,
.wpeo-project-timeline blockquote,
.wpeo-project-wrap code,
.wpeo-task-account code,
.wpeo-task-account-window code,
.wpeo-window-ask-task-container code,
.wpeo-project-timeline code,
.wpeo-project-wrap pre,
.wpeo-task-account pre,
.wpeo-task-account-window pre,
.wpeo-window-ask-task-container pre,
.wpeo-project-timeline pre,
.wpeo-project-wrap textarea,
.wpeo-task-account textarea,
.wpeo-task-account-window textarea,
.wpeo-window-ask-task-container textarea,
.wpeo-project-timeline textarea,
.wpeo-project-wrap input,
.wpeo-task-account input,
.wpeo-task-account-window input,
.wpeo-window-ask-task-container input,
.wpeo-project-timeline input,
.wpeo-project-wrap video,
.wpeo-task-account video,
.wpeo-task-account-window video,
.wpeo-window-ask-task-container video,
.wpeo-project-timeline video {
  max-width: 100%;
}
.wpeo-project-wrap div,
.wpeo-task-account div,
.wpeo-task-account-window div,
.wpeo-window-ask-task-container div,
.wpeo-project-timeline div,
.wpeo-project-wrap textarea,
.wpeo-task-account textarea,
.wpeo-task-account-window textarea,
.wpeo-window-ask-task-container textarea,
.wpeo-project-timeline textarea,
.wpeo-project-wrap table,
.wpeo-task-account table,
.wpeo-task-account-window table,
.wpeo-window-ask-task-container table,
.wpeo-project-timeline table,
.wpeo-project-wrap td,
.wpeo-task-account td,
.wpeo-task-account-window td,
.wpeo-window-ask-task-container td,
.wpeo-project-timeline td,
.wpeo-project-wrap th,
.wpeo-task-account th,
.wpeo-task-account-window th,
.wpeo-window-ask-task-container th,
.wpeo-project-timeline th,
.wpeo-project-wrap code,
.wpeo-task-account code,
.wpeo-task-account-window code,
.wpeo-window-ask-task-container code,
.wpeo-project-timeline code,
.wpeo-project-wrap pre,
.wpeo-task-account pre,
.wpeo-task-account-window pre,
.wpeo-window-ask-task-container pre,
.wpeo-project-timeline pre,
.wpeo-project-wrap samp,
.wpeo-task-account samp,
.wpeo-task-account-window samp,
.wpeo-window-ask-task-container samp,
.wpeo-project-timeline samp {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
.wpeo-project-wrap img,
.wpeo-task-account img,
.wpeo-task-account-window img,
.wpeo-window-ask-task-container img,
.wpeo-project-timeline img {
  width: auto;
  height: auto;
  vertical-align: middle;
}
.wpeo-project-wrap a img,
.wpeo-task-account a img,
.wpeo-task-account-window a img,
.wpeo-window-ask-task-container a img,
.wpeo-project-timeline a img {
  border: 0;
}
.wpeo-project-wrap body > script,
.wpeo-task-account body > script,
.wpeo-task-account-window body > script,
.wpeo-window-ask-task-container body > script,
.wpeo-project-timeline body > script {
  display: none !important;
}
.wpeo-project-wrap .skip-links,
.wpeo-task-account .skip-links,
.wpeo-task-account-window .skip-links,
.wpeo-window-ask-task-container .skip-links,
.wpeo-project-timeline .skip-links {
  position: absolute;
}
.wpeo-project-wrap .skip-links a,
.wpeo-task-account .skip-links a,
.wpeo-task-account-window .skip-links a,
.wpeo-window-ask-task-container .skip-links a,
.wpeo-project-timeline .skip-links a {
  position: absolute;
  left: -9999px;
  padding: 0.5em;
  background: #000;
  color: #fff;
  text-decoration: none;
}
.wpeo-project-wrap .skip-links a:focus,
.wpeo-task-account .skip-links a:focus,
.wpeo-task-account-window .skip-links a:focus,
.wpeo-window-ask-task-container .skip-links a:focus,
.wpeo-project-timeline .skip-links a:focus {
  position: static;
}
.wpeo-project-wrap li,
.wpeo-task-account li,
.wpeo-task-account-window li,
.wpeo-window-ask-task-container li,
.wpeo-project-timeline li,
.wpeo-project-wrap ul,
.wpeo-task-account ul,
.wpeo-task-account-window ul,
.wpeo-window-ask-task-container ul,
.wpeo-project-timeline ul {
  margin: 0;
}
.wpeo-project-wrap *,
.wpeo-task-account *,
.wpeo-task-account-window *,
.wpeo-window-ask-task-container *,
.wpeo-project-timeline * {
  box-sizing: border-box;
}
/* ------------------------------
	FUNCTIONS
		* .clear()
			Permet de supprimer les floats derrière un élément.
------------------------------- */
@-moz-document url-prefix() {
  .wpeo-project-wrap .list-task .wpeo-project-task {
    overflow: hidden!important;
  }
}
/* ----------------------------------
		Global
-----------------------------------*/
.wpeo-project-wrap input[type="text"] {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 4px;
  box-shadow: none;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}
.wpeo-project-wrap input[type="text"]:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
.wpeo-project-wrap textarea {
  box-shadow: none;
}
.wpeo-project-wrap textarea:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
.wpeo-project-wrap a[disabled="disabled"] {
  pointer-events: none;
  text-decoration: none;
  color: black;
}
.wpeo-project-wrap p {
  margin: 0;
}
.wpeo-project-wrap .wpeo-project-list-task {
  margin-top: 20px;
}
.wpeo-project-wrap .disabled {
  opacity: 0.4;
}
.wpeo-project-wrap input[type="button"] {
  float: right;
  background: #389af6;
  font-family: 'Open Sans';
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin-top: 6px;
  padding: 4px 8px;
  color: #fff;
  height: auto;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}
.wpeo-project-wrap input[type="button"]:hover {
  background: #2e7dd5;
}
/* ----------------------------------
		Barre de navigation
-----------------------------------*/
.wpeo-project-wrap .wpeo-no-display {
  display: none;
}
.wpeo-project-wrap .wpeo-header-bar > ul {
  width: 100%;
  display: block;
  background-color: #fff;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  min-height: 40px;
}
.wpeo-project-wrap .wpeo-header-bar > ul::after {
  display: table;
  content: '';
  clear: both;
}
.wpeo-project-wrap .wpeo-header-bar > ul > li {
  display: block;
  padding: 10px 20px;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #fff;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
  float: left;
  height: 40px;
}
.wpeo-project-wrap .wpeo-header-bar > ul > li.wpeo-button:hover {
  cursor: pointer;
}
.wpeo-project-wrap .wpeo-header-bar > ul > li.wpeo-button-active {
  border-bottom: 2px solid #389af6;
}
.wpeo-project-wrap .wpeo-header-bar > ul > li:nth-of-type(5) {
  float: right;
  border-bottom: 0;
}
.wpeo-project-wrap .wpeo-header-bar > ul > li:nth-of-type(5) {
  padding: 12px;
  background: #389af6;
  color: #fff;
}
.wpeo-project-wrap .wpeo-header-bar > ul > li:nth-of-type(5):hover:not(.disabled) {
  background: #55b6ed;
}
.wpeo-project-wrap .wpeo-header-search {
  min-height: 40px;
  background: #404A53;
}
.wpeo-project-wrap .wpeo-header-search > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row
  /*> li:nth-of-type(2) select {
				border-radius: 12px;
				border: 0;
				height: 25px;
				font-family: sans-serif;
				color: rgba(0,0,0,0.6);
			}*/
}
.wpeo-project-wrap .wpeo-header-search > ul > li {
  width: 33.333%;
  padding: 6px;
}
.wpeo-project-wrap .wpeo-header-search > ul > li .chosen-choices {
  border-radius: 12px;
  border: 0;
  color: rgba(0, 0, 0, 0.2);
  padding: 0 10px;
}
.wpeo-project-wrap .wpeo-header-search > ul > li .chosen-choices .dashicons-search {
  padding: 4px 0 0 0;
  margin: 0 8px 0 0;
  float: left;
}
.wpeo-project-wrap .wpeo-header-search > ul > li .chosen-drop li {
  width: 100%;
}
.wpeo-project-wrap .wpeo-header-search > ul > li .chosen-drop .no-results {
  background: #389af6;
  color: #fff;
}
.wpeo-project-wrap .wpeo-header-search > ul > li .chosen-drop .no-results:hover {
  cursor: pointer;
}
/* ----------------------------------
		Les derniers commentaires
-----------------------------------*/
.wpeo-project-wrap .wpeo-project-last-comment {
  position: relative;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 5px;
}
.wpeo-project-wrap .wpeo-project-last-comment .wpeo-point-comment {
  padding: 0 16px;
}
.wpeo-project-wrap .wpeo-project-last-comment .wpeo-point-comment li {
  float: left;
  margin-right: 10px;
}
.wpeo-project-wrap .wpeo-project-last-comment .wpeo-point-comment li:nth-of-type(2),
.wpeo-project-wrap .wpeo-project-last-comment .wpeo-point-comment li:nth-of-type(3) {
  line-height: 2;
}
.wpeo-project-wrap .wpeo-project-last-comment .wpeo-point-comment li:nth-of-type(2) {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
}
.wpeo-project-wrap .wpeo-project-last-comment .wpeo-point-comment li:nth-of-type(3) {
  float: right;
  font-weight: bold;
}
.wpeo-project-wrap .wpeo-project-last-comment .wpeo-point-comment li:last-child {
  width: 100%;
  padding-left: 40px;
  font-family: 'kalamregular';
}
.wpeo-project-wrap .wpeo-project-last-comment .wpeo-point-comment img {
  border-radius: 50%;
  width: 26px;
  height: 26px;
}
.wpeo-project-wrap .wpeo-project-last-comment .wpeo-point-comment .dashicons {
  line-height: 1.3;
}
.wpeo-project-wrap .wpeo-project-last-comment .wpeo-point-comment .wpeo-point-time-edit-btn {
  color: #389af6;
}
.wpeo-project-wrap .wpeo-project-last-comment .wpeo-point-comment .wpeo-send-point-time-to-trash {
  color: rgba(0, 0, 0, 0.4);
}
.wpeo-project-wrap .wpeo-project-last-comment .wpeo-point-comment .wpeo-point-time-edit-btn:hover,
.wpeo-project-wrap .wpeo-project-last-comment .wpeo-point-comment .wpeo-send-point-time-to-trash:hover {
  cursor: pointer;
}
.wpeo-project-wrap .wpeo-project-last-comment .wpeo-point-comment:after {
  display: table;
  content: '';
  clear: both;
}
.wpeo-point-comment-edit .wpeo-point-time-elapsed {
  width: 40px;
}
/* ----------------------------------
		Header affichage tâche
-----------------------------------*/
.wpeo-project-wrap .wpeo-archive {
  display: none;
}
.wpeo-project-wrap .list-task {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}
.wpeo-project-wrap .list-task .wpeo-project-task {
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  width: 100%;
  padding: 10px;
}
.wpeo-project-wrap .list-task .wpeo-project-task .task-marker {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: block;
  -webkit-border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.4);
  position: absolute;
  left: -8px;
  top: -8px;
  background: #fff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0;
}
.wpeo-project-wrap .list-task .wpeo-project-task:hover .task-marker {
  opacity: 1;
  cursor: pointer;
}
.wpeo-project-wrap .list-task .wpeo-project-task .wpeo-project-task-container {
  background: #fff;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}
.wpeo-project-wrap .list-task .wpeo-project-task .wpeo-task-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.wpeo-project-wrap .list-task .wpeo-project-task .wpeo-task-header::after {
  display: table;
  content: '';
  clear: both;
}
.wpeo-project-wrap .list-task .wpeo-project-task .wpeo-task-header li {
  margin: auto;
}
.wpeo-project-wrap .list-task .wpeo-project-task .wpeo-task-header .wpeo-task-id {
  width: 12%;
}
.wpeo-project-wrap .list-task .wpeo-project-task .wpeo-task-header .wpeo-task-title {
  width: 62%;
  padding: 0 0 0 8px;
}
.wpeo-project-wrap .list-task .wpeo-project-task .wpeo-task-header .wpeo-task-title input {
  font-weight: bold;
  width: 100%;
}
.wpeo-project-wrap .list-task .wpeo-project-task .wpeo-task-header .wpeo-task-time {
  width: 26%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.wpeo-project-wrap .list-task .wpeo-project-task .wpeo-task-header .wpeo-task-time > * {
  padding: 0 4px;
}
.wpeo-project-wrap .list-task .wpeo-project-task .wpeo-task-header .wpeo-task-time > *:nth-of-type(1),
.wpeo-project-wrap .list-task .wpeo-project-task .wpeo-task-header .wpeo-task-time > *:nth-of-type(2) {
  margin: auto;
}
.wpeo-project-wrap .list-task .wpeo-project-task .wpeo-task-header .wpeo-task-time input[type="text"] {
  max-width: 40px;
}
.wpeo-project-wrap .list-task .wpeo-project-task .wpeo-task-header .wpeo-task-open-dashboard {
  color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}
.wpeo-project-wrap .list-task .wpeo-project-task .wpeo-task-header .wpeo-task-open-dashboard:hover {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.wpeo-project-wrap .wpeo-task-selected .task-marker {
  opacity: 1;
}
/* ----------------------------------
		Content affichage tâche
-----------------------------------*/
.wpeo-project-wrap .wpeo-task-point {
  padding: 0 10px;
}
.wpeo-project-wrap .wpeo-task-point li {
  position: relative;
}
.wpeo-project-wrap .wpeo-task-point li ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.wpeo-project-wrap .wpeo-task-point li > ul > li {
  padding: 2px 2px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.wpeo-project-wrap .wpeo-task-point li > ul > li .dashicons-screenoptions,
.wpeo-project-wrap .wpeo-task-point li > ul > li .wpeo-send-point-to-trash {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}
.wpeo-project-wrap .wpeo-task-point li > ul > li .wpeo-send-point-to-trash {
  background: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}
.wpeo-project-wrap .wpeo-task-point li > ul > li .wpeo-send-point-to-trash i {
  font-size: 16px;
  line-height: 1.4;
}
.wpeo-project-wrap .wpeo-task-point li > ul > li .wpeo-done-point {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}
.wpeo-project-wrap .wpeo-task-point li > ul > li .wpeo-done-point:hover {
  border: 1px solid #389af6;
}
.wpeo-project-wrap .wpeo-task-point li > ul > li:hover .dashicons-screenoptions {
  cursor: move;
}
.wpeo-project-wrap .wpeo-task-point li > ul > li:hover .wpeo-send-point-to-trash {
  cursor: pointer;
}
.wpeo-project-wrap .wpeo-task-point li > ul > li:nth-of-type(1) {
  width: 16%;
}
.wpeo-project-wrap .wpeo-task-point li > ul > li:nth-of-type(1) > span {
  width: 100%;
  text-align: center;
}
.wpeo-project-wrap .wpeo-task-point li > ul > li:nth-of-type(2) {
  width: 64%;
}
.wpeo-project-wrap .wpeo-task-point li > ul > li:nth-of-type(3) {
  width: 20%;
}
.wpeo-project-wrap .wpeo-task-point li > ul > li:nth-of-type(3) > *:nth-of-type(2) {
  padding-left: 2px;
}
.wpeo-project-wrap .wpeo-task-point li > ul > li:nth-of-type(3) > *:last-child {
  margin-left: auto;
}
.wpeo-project-wrap .wpeo-task-point li > ul > li .wpeo-block-id {
  text-align: center;
  width: 100%;
  font-weight: bold;
}
.wpeo-project-wrap .wpeo-task-point li:hover .dashicons-screenoptions,
.wpeo-project-wrap .wpeo-task-point li:hover .wpeo-send-point-to-trash {
  opacity: 0.4;
}
.wpeo-project-wrap .wpeo-task-point li .wpeo-task-add-new-point {
  color: #389af6;
  opacity: 0.2;
  margin-left: 0 !important;
}
.wpeo-project-wrap .wpeo-task-point textarea {
  padding-top: 10px;
  font-family: 'kalamregular';
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}
.wpeo-project-wrap .wpeo-task-point textarea:hover,
.wpeo-project-wrap .wpeo-task-point textarea:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
.wpeo-project-wrap .wpeo-task-point textarea:focus,
.wpeo-project-wrap .wpeo-task-point textarea.active {
  color: #389af6;
}
.wpeo-project-wrap .wpeo-task-point-completed li .dashicons-screenoptions {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}
.wpeo-project-wrap .wpeo-task-point-use-toggle {
  margin: 24px 0 16px 0;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.wpeo-project-wrap .wpeo-task-point-use-toggle p {
  position: relative;
  top: -10px;
  display: inline-block;
  background: #fff;
  padding: 0 20px;
}
.wpeo-project-wrap .wpeo-task-point-use-toggle a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
.wpeo-project-wrap .wpeo-task-point-use-toggle .wpeo-point-toggle-arrow {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
  padding: 4px 0;
  margin-right: 4px;
}
/* ----------------------------------
		Footer affichage tags
-----------------------------------*/
.wpeo-project-wrap .wpeo-tag-wrap {
  background: #1f2b3b;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.wpeo-project-wrap .wpeo-tag-wrap::after {
  display: table;
  content: '';
  clear: both;
}
.wpeo-project-wrap .wpeo-tag-wrap:hover {
  cursor: pointer;
}
.wpeo-project-wrap .wpeo-tag-wrap li {
  background: #adadad;
  padding: 8px 16px;
  color: #fff;
  font-size: 12px;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}
.wpeo-project-wrap .wpeo-tag-wrap li.wpeo-tag-tag-selected {
  background: #389af6;
}
.wpeo-project-wrap .wpeo-tag-wrap li.wpeo-tag-edit-tag-btn {
  margin-left: auto;
  margin-right: 0;
  padding: 8px;
  background: #389af6;
}
.wpeo-project-wrap .wpeo-tag-wrap li.wpeo-tag-add-tag {
  background: none;
  width: 100%;
  font-family: 'kalamregular';
  color: #389af6;
  text-align: center;
}
.wpeo-project-wrap .wpeo-tag-wrap-edit .wpeo-tag-edit-tag-btn:hover {
  background: #55b6ed;
  cursor: pointer;
}
.wpeo-project-wrap .wpeo-tag-wrap-edit .wpeo-tag-tag-selected:hover {
  background: #2e7dd5;
}
.wpeo-project-wrap .wpeo-tag-wrap-edit li:hover {
  background: #939393;
}
/* ----------------------------------
		Footer affichage utilisateurs
-----------------------------------*/
.wpeo-main-user {
  background: #404a53;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 50px;
}
.wpeo-main-user .wpeo-ul-user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.wpeo-main-user .wpeo-ul-user.wpeo-edit-select-user li {
  background: #adadad;
  color: #fff;
}
.wpeo-main-user .wpeo-ul-user.wpeo-edit-select-user li.active {
  background: #389af6;
}
.wpeo-main-user .wpeo-ul-user.wpeo-edit-select-user li:not(.active) {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
.wpeo-main-user .wpeo-user-owner li {
  float: left;
}
.wpeo-main-user li li {
  width: 50px;
  height: 50px;
  background: #389af6;
  color: #fff;
  position: relative;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}
.wpeo-main-user li li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wpeo-main-user li li .wpeo-avatar-initial {
  display: block;
}
.wpeo-main-user li li span {
  font-size: 16px;
  text-align: center;
  padding-top: 14px;
  display: inline-block;
  width: 100%;
}
.wpeo-main-user li li:hover {
  cursor: pointer;
}
.wpeo-main-user li:first-child {
  margin-right: auto;
}
.wpeo-main-user li:last-child a {
  width: 50px !important;
  height: 50px !important;
  padding: 16px;
  background: #389af6;
  color: #fff;
  box-shadow: none;
}
.wpeo-main-user li:last-child a:hover {
  background: #55b6ed;
}
/* ----------------------------------
		Dashboard
-----------------------------------*/
.wpeo-project-wrap .wpeo-window-dashboard {
  margin: 10px 10px 0 0;
  background-color: #fff;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  width: 100%;
}
.wpeo-project-wrap .wpeo-window-dashboard .user {
  position: relative;
  list-style: none;
  width: 50px;
  height: 50px;
}
.wpeo-project-wrap .wpeo-window-dashboard .user .wpeo-avatar-initial span {
  font-size: 16px;
  text-align: center;
  line-height: 1;
  display: inline-block;
  width: 100%;
  color: #FFF;
}
.wpeo-project-wrap .wpeo-window-dashboard .user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.wpeo-project-wrap .wpeo-window-dashboard header {
  padding: 16px 14px 11px 14px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}
.wpeo-project-wrap .wpeo-window-dashboard header h2 {
  padding: 0;
  font-family: 'kalamregular';
  line-height: 1;
  margin: 0;
}
.wpeo-project-wrap .wpeo-window-dashboard header i {
  position: absolute;
  top: 16px;
  right: 10px;
  color: rgba(0, 0, 0, 0.6);
}
.wpeo-project-wrap .wpeo-window-dashboard header i:hover {
  cursor: pointer;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-sub-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-sub-header #wpeo-task-action {
  float: right;
  padding: 0;
  line-height: 2.6;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-sub-header #wpeo-task-action li {
  float: left;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-sub-header #wpeo-task-action li .wpeo-task-action-list {
  display: block;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 8px;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
  margin-left: 6px;
  width: auto;
  height: auto;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-sub-header #wpeo-task-action li .wpeo-task-action-list:hover {
  cursor: pointer;
  border: 1px solid #389af6;
  color: #389af6;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-sub-header #wpeo-task-action input:hover {
  cursor: auto;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-sub-header::after {
  display: table;
  content: '';
  clear: both;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-info,
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-point-info {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-info ul:nth-of-type(1),
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-point-info ul:nth-of-type(1) {
  float: left;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-info ul:nth-of-type(2),
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-point-info ul:nth-of-type(2) {
  float: right;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-info ul li:first-child,
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-point-info ul li:first-child {
  font-weight: bold;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-info ul li:nth-of-type(2) div,
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-point-info ul li:nth-of-type(2) div {
  display: inline-block;
  padding-right: 10px;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-info .wpeo-point-title,
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-point-info .wpeo-point-title {
  clear: both;
  font-family: 'kalamregular';
  color: #389af6;
  padding: 10px 60px 0 60px;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-info .dashicons,
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-point-info .dashicons {
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.4);
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-option form {
  padding: 4px 0 0 20px;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-option label {
  display: block;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-point-option {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-point-option ul li {
  float: left;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-point-option .dashicons {
  color: rgba(0, 0, 0, 0.4);
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-point-option input[type="text"] {
  width: 100px;
  font-weight: bold;
  margin-top: 0;
  padding-top: 0;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-point-option input[type="button"] {
  margin-top: 0;
  margin-left: 12px;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-point-history {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  padding: 0px 0 10px 0;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-point-history .user {
  border-radius: 50%;
  width: 26px;
  height: 26px;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-point-history .wpeo-point-comment {
  padding: 0 16px;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-point-history .wpeo-point-comment .date {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-point-history .wpeo-point-comment .action {
  float: right;
  font-weight: bold;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-point-history .wpeo-point-comment li {
  float: left;
  margin-right: 10px;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-point-history .wpeo-point-comment li:nth-of-type(2),
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-point-history .wpeo-point-comment li:nth-of-type(3) {
  line-height: 2;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-point-history .wpeo-point-comment li:nth-of-type(2) {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-point-history .wpeo-point-comment li:last-child {
  font-family: 'kalamregular';
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-point-history .wpeo-point-comment img {
  border-radius: 50%;
  width: 26px;
  height: 26px;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-point-history .wpeo-point-comment .dashicons {
  line-height: 1.3;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-point-history .wpeo-point-comment .wpeo-point-time-edit-btn {
  color: #389af6;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-point-history .wpeo-point-comment .wpeo-send-point-time-to-trash {
  color: rgba(0, 0, 0, 0.4);
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-point-history .wpeo-point-comment .wpeo-point-time-edit-btn:hover,
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-point-history .wpeo-point-comment .wpeo-send-point-time-to-trash:hover {
  cursor: pointer;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-point-history .wpeo-point-comment:after {
  display: table;
  content: '';
  clear: both;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-point-history .wpeo-point-no-comment {
  padding: 10px;
  color: rgba(0, 0, 0, 0.4);
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-point-history:after {
  display: table;
  content: '';
  clear: both;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-form-point-time {
  z-index: 100;
  width: 100%;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-form-point-time .wpeo-task-form-input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.05);
  padding: 10px;
  color: rgba(0, 0, 0, 0.6);
  font-style: italic;
  font-family: 'kalamregular';
  width: 100%;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-form-point-time .wpeo-task-form-input div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-form-point-time .wpeo-task-form-input .wpeo-input-date span,
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-form-point-time .wpeo-task-form-input .wpeo-input-date-time span {
  color: rgba(0, 0, 0, 0.3);
  float: left;
  padding: 6px 0 0 0;
  margin-right: 10px;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-form-point-time .wpeo-task-form-input .wpeo-input-date input,
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-form-point-time .wpeo-task-form-input .wpeo-input-date-time input {
  padding: 8px;
  float: left;
  display: inline-block;
  border: 0;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-form-point-time .wpeo-task-form-input .wpeo-input-date input:hover,
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-form-point-time .wpeo-task-form-input .wpeo-input-date-time input:hover {
  border: 0;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-form-point-time .wpeo-task-form-input .wpeo-input-date input {
  width: 80px;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-form-point-time .wpeo-task-form-input .wpeo-input-date-time input {
  width: 40px;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-form-point-time .wpeo-task-form-input textarea {
  padding: 8px;
  margin: 0 4px;
  width: 100%;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-form-point-time .wpeo-task-form-input textarea:hover {
  border: 0;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-form-point-time .wpeo-task-form-input input[type="button"] {
  margin: 0;
  margin-left: auto;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-form-point-time .wpeo-task-form-input:after {
  display: table;
  content: '';
  clear: both;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-form-point-time .wpeo-open-point-time-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}
.wpeo-project-wrap .wpeo-window-dashboard #wpeo-task-form-point-time .wpeo-open-point-time-form:hover {
  cursor: pointer;
}
.wpeo-project-wrap .wpeo-window-dashboard > footer {
  width: 100%;
  margin-top: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 6px 16px;
}
.wpeo-project-wrap .wpeo-window-dashboard > footer .wpeo-footer-tag li {
  display: inline-block;
  background: #2e99d5;
  padding: 10px 12px;
  margin-bottom: 6px;
  color: #fff;
  border-radius: 2px;
  margin-right: 4px;
}
.wpeo-project-wrap .wpeo-window-dashboard > footer ul {
  padding: 0;
}
.wpeo-project-wrap .wpeo-window-dashboard .wpeo-display-user {
  float: left;
}
.wpeo-project-wrap .wpeo-window-dashboard .wpeo-display-user div {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 4px 10px;
  display: inline-block;
}
.wpeo-project-wrap .wpeo-window-dashboard .wpeo-display-user div .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
  position: relative;
}
.wpeo-project-wrap .wpeo-window-dashboard .wpeo-display-user div .avatar > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 50%;
}
.wpeo-project-wrap .wpeo-window-dashboard .wpeo-display-user div .avatar > img {
  z-index: 10;
}
.wpeo-project-wrap .wpeo-window-dashboard .wpeo-display-user div .avatar span.wpeo-avatar-initial {
  text-align: center;
  background: #fff;
}
.wpeo-project-wrap .wpeo-window-dashboard .wpeo-display-user div span:not(.wpeo-avatar-initial) {
  line-height: 2.2;
  padding-left: 6px;
}
.wpeo-project-wrap .wpeo-window-dashboard .wpeo-display-user > * {
  margin: 0 auto;
}
.wpeo-project-wrap .wpeo-window-dashboard .wpeo-display-user .wpeo-task-owner-role {
  padding-left: 4px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.4);
}
.wpeo-project-wrap .wpeo-window-dashboard > * {
  padding: 14px 16px;
}
.wpeo-project-wrap .wpeo-window-dashboard input[type="checkbox"] {
  border-radius: 50%;
}
.wpeo-project-wrap .wpeo-window-dashboard h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
.wpeo-project-wrap .wpeo-window-dashboard ul {
  padding: 8px 0 0 20px;
}
.wpeo-project-wrap .wpeo-window-dashboard:after {
  content: 'sqdqsd';
  display: table;
  content: '';
  clear: both;
}
/* ----------------------------------
		TIMELINE
-----------------------------------*/
.wpeo-project-timeline {
  /* Barre de navigation */
  /* Content */
}
.wpeo-project-timeline * {
  box-sizing: border-box !important;
}
.wpeo-project-timeline .is-hidden {
  visibility: hidden;
}
.wpeo-project-timeline .wpeo-header-bar > ul {
  width: 100%;
  display: block;
  background: #fff;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  height: 40px;
  padding: 6px;
  margin-bottom: 20px;
}
.wpeo-project-timeline .wpeo-header-bar > ul li select {
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0;
}
.wpeo-project-timeline .wpeo-header-bar > ul::after {
  display: table;
  content: '';
  clear: both;
}
.wpeo-project-timeline .wpeo-timeline-content {
  position: relative
  /* Année */
  /* General */
  /* Mois */
  /* Jours */
}
.wpeo-project-timeline .wpeo-timeline-content .chrono-line {
  position: absolute;
  height: 100%;
  width: 4px;
  background: #64707c;
  left: 50%;
  margin-left: -2px;
  z-index: -1;
}
.wpeo-project-timeline .wpeo-timeline-content .year {
  background: #64707c;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 4.2;
  margin: auto;
  border: 4px solid #f1f1f1;
}
.wpeo-project-timeline .wpeo-timeline-content .timeline-block {
  padding: 10px;
}
.wpeo-project-timeline .wpeo-timeline-content .timeline-block > section {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
}
.wpeo-project-timeline .wpeo-timeline-content .timeline-block header {
  padding: 10px 16px;
}
.wpeo-project-timeline .wpeo-timeline-content .timeline-block header ul li {
  float: left;
  display: block;
}
.wpeo-project-timeline .wpeo-timeline-content .timeline-block header ul li.avatar img {
  border-radius: 50%;
  border: 2px solid #fff;
}
.wpeo-project-timeline .wpeo-timeline-content .timeline-block header ul li.user-mail {
  padding-left: 8px;
  line-height: 2.6;
  font-size: 14px;
}
.wpeo-project-timeline .wpeo-timeline-content .timeline-block header ul li.date {
  text-transform: uppercase;
  font-weight: bold;
  float: right;
  font-size: 18px;
  line-height: 2;
}
.wpeo-project-timeline .wpeo-timeline-content .timeline-block header ul li.user-mail,
.wpeo-project-timeline .wpeo-timeline-content .timeline-block header ul li.date {
  color: #fff;
}
.wpeo-project-timeline .wpeo-timeline-content .timeline-block header:after {
  display: table;
  content: '';
  clear: both;
}
.wpeo-project-timeline .wpeo-timeline-content .timeline-block .timeline-block-content {
  background: #fff;
}
.wpeo-project-timeline .wpeo-timeline-content .month {
  width: 100%;
}
.wpeo-project-timeline .wpeo-timeline-content .month header {
  position: relative;
  background: #389af6;
}
.wpeo-project-timeline .wpeo-timeline-content .month header:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 10px 12px;
  border-color: transparent transparent #389af6 transparent;
  position: absolute;
  left: 50%;
  top: -10px;
  margin-left: -12px;
}
.wpeo-project-timeline .wpeo-timeline-content .month .dashboard-month {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.wpeo-project-timeline .wpeo-timeline-content .month .dashboard-month li .dashicons {
  margin-right: 6px;
}
.wpeo-project-timeline .wpeo-timeline-content .month .dashboard-month,
.wpeo-project-timeline .wpeo-timeline-content .month .task-month {
  padding: 20px 20px 10px 20px;
}
.wpeo-project-timeline .wpeo-timeline-content .month .dashboard-month li,
.wpeo-project-timeline .wpeo-timeline-content .month .task-month li {
  float: left;
  width: 33.333%;
  padding-bottom: 10px;
}
.wpeo-project-timeline .wpeo-timeline-content .month .dashboard-month:after,
.wpeo-project-timeline .wpeo-timeline-content .month .task-month:after {
  display: table;
  content: '';
  clear: both;
}
.wpeo-project-timeline .wpeo-timeline-content .month:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: #389af6;
  margin: 0 auto 16px auto;
  border: 4px solid #f1f1f1;
  border-radius: 50%;
}
.wpeo-project-timeline .wpeo-timeline-content .content-day:after {
  display: table;
  content: '';
  clear: both;
}
.wpeo-project-timeline .wpeo-timeline-content .day {
  width: 50%;
  float: left;
}
.wpeo-project-timeline .wpeo-timeline-content .day header {
  position: relative;
}
.wpeo-project-timeline .wpeo-timeline-content .day header .timeline-pointer {
  /*display: block;
					width: 0;
					height: 0;
					border-style: solid;*/
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.wpeo-project-timeline .wpeo-timeline-content .day.left-block {
  padding-right: 30px;
}
.wpeo-project-timeline .wpeo-timeline-content .day.left-block .timeline-pointer {
  right: -10px
  /*border-width: 12px 0 12px 10px;
					border-color: transparent transparent transparent #46e58a;*/
}
.wpeo-project-timeline .wpeo-timeline-content .day.right-block {
  padding-left: 30px;
}
.wpeo-project-timeline .wpeo-timeline-content .day.right-block .timeline-pointer {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 18px;
  left: -10px
  /*border-width: 12px 10px 12px 0;
					border-color: transparent #46e58a transparent transparent;*/
}
.wpeo-project-timeline .wpeo-timeline-content .day .timeline-block-content .point {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 10px 4px 10px;
}
.wpeo-project-timeline .wpeo-timeline-content .day .timeline-block-content .point .point-hour {
  width: 14%;
  margin: auto;
}
.wpeo-project-timeline .wpeo-timeline-content .day .timeline-block-content .point .point-list {
  width: 86%;
}
.wpeo-project-timeline .wpeo-timeline-content .day .timeline-block-content .point .point-list > li {
  padding-bottom: 6px;
}
.wpeo-project-timeline .wpeo-timeline-content .day .timeline-block-content .point .point-list .point-title {
  padding-bottom: 2px;
}
.wpeo-project-timeline .wpeo-timeline-content .day .timeline-block-content .point .point-list .point-title span {
  float: right;
}
.wpeo-project-timeline .wpeo-timeline-content .day .timeline-block-content .point .point-list .point-content {
  font-family: 'kalamregular';
  font-size: 12px;
}
/* ----------------------------------
		ANIMATIONS CSS
-----------------------------------*/
@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
            transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0);
  }
}
@keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
            transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0);
  }
}
.bounceOutRight {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: bounceOutRight;
          animation-name: bounceOutRight;
}
@-webkit-keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.fadeInRightBig {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: fadeInRightBig;
          animation-name: fadeInRightBig;
}
@-webkit-keyframes bounceIn {
  from,
  40%,
  60%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.415, 0.25, 1);
            animation-timing-function: cubic-bezier(0.415, 0.25, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.6, 0.6, 0.6);
            transform: scale3d(0.6, 0.6, 0.6);
  }
  40% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  from,
  40%,
  60%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.415, 0.25, 1);
            animation-timing-function: cubic-bezier(0.415, 0.25, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.6, 0.6, 0.6);
            transform: scale3d(0.6, 0.6, 0.6);
  }
  40% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.bounceIn {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-200px, 0, 0);
            transform: translate3d(-200px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(15px, 0, 0);
            transform: translate3d(15px, 0, 0);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-200px, 0, 0);
            transform: translate3d(-200px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(15px, 0, 0);
            transform: translate3d(15px, 0, 0);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
          animation-name: bounceInLeft;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(200px, 0, 0);
            transform: translate3d(200px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-15px, 0, 0);
            transform: translate3d(-15px, 0, 0);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(200px, 0, 0);
            transform: translate3d(200px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-15px, 0, 0);
            transform: translate3d(-15px, 0, 0);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
.bounceInRight {
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
