.wpeo-ul-users {
	display: flex;
	flex-wrap: wrap;
	padding: 0 0.4em 0.4em 0.4em;

	.follower {
		font-size: 14px;
		margin: 0.2em;
		filter: grayscale(100%);

		&.active {
			filter: grayscale(0%);
		}
		.tm-avatar {
			border-radius: 50%;
			overflow: hidden;
		}
	}
	.add, .edit {
		background: rgba(0,0,0,0.1);
		width: 35px;
		height: 35px;
		line-height: 24px;
		border: 0;
		color: rgba(0,0,0,0.5);
		padding: 0.4em 0.6em;
		filter: grayscale(0%);
	}
	.edit {
		background: $color__primary;
		color: #fff;
		margin-left: auto;
	}
}
